<div class="signUpColumns animated fadeInDown">
    <div class="row">
        <div class="col-md-12">

            <div class="ibox-title text-center">
                <h1 class="m-b-xl">Sign Up</h1>
            </div>
            <div class="ibox-content">
                <form class="sm-t" name="signUpForm" ng-validate="vm.signupValidator"  ng-submit="vm.submitSignup(signUpForm)">
                    <div class="form-group">
                        <input type="text" class="form-control radius" name="schoolName" ng-model="vm.signupModel.school.name" placeholder="School name">
                    </div>

                    <div class="form-group row alt-box">
                        <div class="col-md-6 media-m-b">
                            <input type="text" class="form-control radius" name="firstName" ng-model="vm.signupModel.firstName" placeholder="First name">
                        </div>
                        <div class="col-md-6 media-m-b">
                            <input type="text" class="form-control radius" name="lastName" ng-model="vm.signupModel.lastName" placeholder="Last name">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <input type="email" class="form-control radius" id="email" name="email" ng-model="vm.signupModel.email" placeholder="Email">
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control radius" name="confirmEmail" ng-model="vm.signupModel.confirmEmail" placeholder="Confirm email">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6 media-m-b">
                            <input type="password" class="form-control radius" name="password" ng-model="vm.signupModel.password" id="password" placeholder="Password">
                        </div>
                        <div class="col-md-6 media-m-b">
                            <input type="password" class="form-control radius" name="confirmPassword" ng-model="vm.signupModel.confirmPassword" placeholder="Confirm password">
                        </div>
                    </div>

                    <div class="form-group m-b-lg">
                        <h3 class="m-b-lg">
                            Please select the devices available to students at your school
                            <i class="ask-box fa fa-question-circle">
                                <span class="note-box">You should have one device between two students during the lessons</span>
                            </i>
                        </h3>
                        <ul class="inline-list flex">
                            <li ng-repeat="class in vm.classes track by $index">
                                <label class="main-checkbox info text-center" ng-class="{checked: class.selected}">
                                    <input type="checkbox" ng-change="vm.checkClass(class.id)" ng-model="class.selected">
                                    <span class="text" ng-bind="class.name"></span>
                                </label>
                            </li>
                        </ul>
                        <label ng-if="vm.submitted && !vm.signupModel.school.classSets.length" class="error">Select at least one</label>
                    </div>
                    <div class="clearfix text-right media-text-center">
                        <button type="submit" class="btn btn-primary m-b btn-middle-size">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>