<div class="inmodal">
    <div class="col-md-12">
        <div class="inbox-title">
            <h2>Add student</h2>
        </div>
        <form class="main-form" ng-submit="vm.createStudent(assessmentForm)" ng-validate="vm.validationOptions"
              name="assessmentForm" id="assessment-form">
            <div class="form-group">
                <input class="form-control"
                       type="text"
                       placeholder="First name"
                       ng-model="vm.student.firstName"
                       name="firstName"
                       id="firstName"
                >
            </div>
            <div class="form-group">
                <input class="form-control"
                       type="text"
                       placeholder="Last name"
                       ng-model="vm.student.lastName"
                       name="lastName"
                       id="lastName"
                >
            </div>
            <div class="text-right">
                <button ng-click="vm.cancel()" class="btn btn-white">Cancel</button>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>