<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">Assessment</h1>
        <a class="title-note" target="_blank" ng-href="/resources/Assessment.pdf">Download as pdf</a>


        <h3 class="section-title">The Educ8 Assessment Tool</h3>

        <p>
            Educ8 comes with an easy to use assessment tool for teachers, located conveniently in the
            dashboard. We have prepopulated this with assessment criteria that is easily edited should you
            wish to change it. Assessing your students is easy, you simply colour code their progress
            according to each criteria. The documents are easily shared as well
        </p>


        <br>
        <h3 class="section-title">Dividing the curriculum into clear goals</h3>

        <p>
            We have allocated the attainment targets from the curriculum into three convenient strands:
            Computer Science, Digital Literacy and I.T. We have then segmented these targets into more
            specific criteria (divided into year groups) to highlight the various concepts students should be
            working toward mastering, according to their year group
        </p>

        <p>
            The assessment sheets may come pre-populated with these goals but they are fully editable,
            giving each user the power to change them if they so require.
        </p>

        <br>
        <h3 class="section-title">Assessing these goals</h3>

        These goals can be easily assessed using our colour coding scheme
        <br>
        <ul>
            <li>Red - Needs further support</li>
            <li>Orange - Achieving with support</li>
            <li>Green - Achieving independently</li>
            <li>Purple - Exceeding expectations</li>
        </ul>

        <p>
            All of our courses result in the students finishing with a final project that can be stored and kept
            as evidence of learning. Exceptions include Bee-Bots (see self-assessment for tips on gathering
            evidence for this). We recommend using self-assessment or teacher notes to further support
            this assessment document.
        </p>


        <br>
        <h3 class="section-title">Saving and Sharing Assessment Documents</h3>

        <p>
            When a class is first created the teacher will enter the year group, teacher name, courses (to
            be) covered and course level. The following school year the new teacher can retrieve this
            document; the student names will be already inserted and the teacher will know what courses
            were covered the previous year/ how successful each student was - giving them an immediate
            insight into their year ahead (before they even talk to the previous teacher).
        </p>

        <p>
            The documents are easily accessed for tracking the progress of all classes at all times. They are
            also easily shared as pdf should you need a printable document.
        </p>


    </div>
    <div class="col-md-4">
        <div class="aside-image">
            <img src="/images/static/edtech_1.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_2.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_3.jpeg" alt="">
        </div>
    </div>
</div>