<div class="row page-title-wr">
    <div class="col-md-12">
        <div class="page-title">Edtech Tips</div>
    </div>
</div>


<div class="row">
    <div class="col-md-3">

        <ul class="list-unstyled page-nav">
            <li>
                <a ui-sref="home.edtech.guide" ng-class="{active: $root.currentState.includes('guide')}">User guide for site</a>
            </li>
            <li>
                <a ui-sref="home.edtech.plans" ng-class="{active: $root.currentState.includes('plans')}">How the plan grows with your school</a>
            </li>
            <li>
                <a ui-sref="home.edtech.curriculum.base" ng-class="{active: $root.currentState.includes('curriculum')}">Curriculum</a>
            </li>
            <li>
                <a ui-sref="home.edtech.assessment" ng-class="{active: $root.currentState.includes('assessment')}">Assessment</a>
            </li>
            <li>
                <a ui-sref="home.edtech.selfAssessment" ng-class="{active: $root.currentState.includes('selfAssessment')}">Self Assessment</a>
            </li>
            <li>
                <a ui-sref="home.edtech.itIssues" ng-class="{active: $root.currentState.includes('itIssues')}">Common IT Issues in the Classroom</a>
            </li>
            <li>
                <a ui-sref="home.edtech.classroom" ng-class="{active: $root.currentState.includes('classroom')}">Classroom management</a>
                <em class="subtitle">(for tech based lessons)</em>
            </li>
            <li>
                <a ui-sref="home.edtech.sharing" ng-class="{active: $root.currentState.includes('sharing')}">Sharing work</a>
                <em class="subtitle">(including Dropbox and more)</em>
            </li>
        </ul>
    </div>

    <div class="col-md-9">
        <div class="content-image">
            <img src="/images/static/edtech_main.jpeg" alt="">
        </div>
    </div>
</div>
