<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">
            Classroom Management
            <br>
            <em>(for tech based lessons)</em>
        </h1>
        <a class="title-note" target="_blank" ng-href="/resources/ClassroomManagement.pdf">Download as pdf</a>

        <h3 class="section-title">Teaching with Technology</h3>

        <p>Teaching with IT can lead to new issues regarding behaviour and classroom management that aren&rsquo;t
            present in other lessons. This can lead to some teachers being less inclined to use technology in
            lessons.</p>

        <strong class="black">The Good News!</strong>

        <p>When technology is used properly in lessons, when it is integrated effectively with the curriculum it will
            <strong>reduce behaviour incidents during lessons</strong>. This is because when students are fully engaged and have
            structured, challenging and fun learning objectives they will tend to focus on these. That&rsquo;s part of
            the reason we include timers in our lesson plans.</p>

        <strong class="black">Strategies</strong>

        <ul>
            <li> Make it clear at the very beginning that the technology being used is to achieve learning objectives; it is
                simply an alternative to a pen and paper, a learning tool, and not a toy.</li>

            <li> Only give instructions when there is silence and all students are giving full attention</li>

            <li>
                Screens are very distracting (<em>even for the best intentioned of people</em>) - it&rsquo;s best to have these out
                of sight when you are speaking.

                <ul class="circle">
                    <li> Tablets - ensure students are confident with locating the lock screen button in the first lesson. Whenever
                        you speak ask students to lock the screen immediately, then proceed with teaching/ talking; if the tablet
                        has a lip to protect the screen you could turn them upside down; if they have a cover you could close
                        it.</li>

                    <li> Laptops - students could (a) close the lid, or (b) if closing the lid leads to any issues (logging off etc)
                        it can be best to simply turn the laptop around</li>

                    <li> Desktop computers - turn the monitor off (<em>not the whole computer!</em>)</li>
                </ul>
            </li>

            <li> Be strict with the timers - a popular rule we use in the classroom is to countdown out loud for the last ten
                seconds of the timer. Be clear that you expect all screen to be off/ locked. Any student(s) whose screen is
                visible when the timer gets to zero will lose one minute from the next task. You can escalate this for
                repeat offenders. <em>Students tend to learn pretty quickly when they see a tablet get taken away though!</em></li>
        </ul>


        <p> That&rsquo;s it! There are of course plenty more strategies but we like to keep it simple. Have fun :)</p>

    </div>
    <div class="col-md-4">
        <div class="aside-image">
            <img src="/images/static/edtech_1.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_2.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_3.jpeg" alt="">
        </div>
    </div>
</div>