<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">Educ8 Curriculum</h1>
        <a class="title-note" target="_blank" ng-href="/resources/Educ8Curriculum.pdf">Download as pdf</a>

        <h3 class="section-title">The Curriculum</h3>

        <p>
            The aim of the Edcu8 ICT curriculum is to embed technology effectively across all subject areas. In a digitally proficient school ICT
            will be used like any other learning tools; e.g. pencil and paper. It will simply provide other opportunities for creating, collaborating,
            communicating and critical thinking.
        </p>

        <p>
            To help you achieve this we have divided the curriculum into three convenient strands <em>(Computer Science, I.T. and Digital Literacy)</em>
            to make planning easier and more effective. Using the strands will help establish embed ICT across all subjects in your school
        </p>

        <p>
            In order to embed ICT seamlessly we recommend reviewing yearly plans (for all subjects) at the beginning of the school year and
            identifying where technology best fits in. For example, if you know you are covering Ancient Egypt in summer term then look at the
            computing courses in your <em>Educ8 Teacher Dashboard/ School Plan</em> and think about which one lends itself to seamlessly integration
            with that area of study. Your Ancient Egypt project could be any of the three strands:
        </p>

        <ol>
            <li>Computer Science - <em>students could program a game where a character moves around an Ancient Egypt themed landscape</em></li>
            <li>IT - <em>students could research facts and create a presentation based on Ancient Egypt</em></li>
            <li>
                Digital Literacy - <em>students could create a documentary or eBook on Ancient Egypt. They could even animate a specific
                process or general scene.</em>
            </li>
        </ol>

        <p>As teachers grow in confidence with the curriculum they will see more and more opportunities for seamless integration</p>

        <br>
        <h3 class="section-title">Computer Science</h3>

        <p>
            Also known as computer programming or code, computer science is the study of what it is that makes computers work. Students will
            learn what code is, what it’s used for and how to write their own code. This can be done in a variety of ways, including on tablets, on
            desktop computers/ laptops, online, with robotics and more.
        </p>

        <p>
            Importantly for educators, students are learning a lot more than just how to program computers when they are learning to code. They
            are learning computational thinking and problem solving skills, evaluation and analysis skills, and of course there is a LOT of
            integration with maths. Look at our curriculum notes for specific curriculum goals as well as a glossary of terms.
        </p>


        <br>
        <h3 class="section-title">Information Technology (IT)</h3>

        <p>
            IT is the study of the use of technology, how to use it safely and effectively. It also involves creating data systems (collecting,
            gathering, analysing, presenting). Effective use of the internet includes understanding what the internet and the World Wide Web
            actually are. Students will develop their knowledge of computer networks and develop their online skills/ awareness. Online skills
            include effective search techniques, being discerning with digital content and search results, being safe online, cyber bullying and
            more. Other day to day uses of computers also come under the umbrella of IT - including word processing and typing skills, cloud
            computing, sharing and storage/ retrieval and more.
        </p>

        <br>
        <h3 class="section-title">Digital Literacy</h3>

        <p>
            Using technology to create content is an incredibly powerful and flexible way to use computers for learning. Students can create
            interactive presentations, explore different digital storytelling media (film/ documentary, animation [stop motion and digital], eBooks),
            create and edit digital imagery and digital audio, and of course begin to combine the different technologies to make true multimedia
            projects.
        </p>


        <br>
        <h3 class="section-title">Online Safety</h3>
        <p>
            We have included Online Safety on the table to illustrate where these important ICT goals fit in, though we aren’t counting Online
            Safety as a distinct strand. These criteria are should be constantly at the forefront when working with technology. They will be
            covered explicitly through the included Online Safety program of work but they should also be covered on an ongoing basis during
            teaching of IT and Digital Literacy. For the purpose of assessment we have included these criteria as part of the I.T. strand.
        </p>


        <br>
        <h3 class="section-title">The Levels</h3>

        <p>
            There are four levels of difficulty for the first year of your plan. We have divided ICT learning at primary into seven age ranges.
        </p>

        <ul>
            <li>Early Learning - Early Primary</li>
            <li>Level 1 - Primary 1 and Primary 2</li>
            <li>Level 2 - Primary 3 and Primary 4</li>
            <li>Level 3 - Primary 5 and Primary 6</li>
        </ul>

        <p>
            Primary 6 is the final year of primary school. Schools have different opinions on when students should start learning with technology,
            so Early Primary reflects the year group(s) at your school that come before Primary 1. The schemes assigned to Early Primary can
            be done in small groups or even whole class, depending on teacher’s assessment of class ability. More difficult schemes such as
            Computer Science can be best delivered in summer term.
        </p>

        <br>


        <img style="width: 100%" src="/images/static/edtech_curicullum_1.jpg" alt="">

        <br>
        <br>
        <h3 class="section-title">Glossary</h3>

        <p><strong>Algorithm</strong> - an algorithm is a list of instructions, like a food recipe. In programming, this simply means
            placing commands in order.</p>

        <ul>
            <li> For example if you want a robot to drive in a square you could use the commands forward, left, forward,
                left, forward, left, forward.</li>
        </ul>

        <p><strong>Controlling or Simulating Physical systems</strong> - you can create a simulation world on-screen or control robots/
            hardware to operate within your classroom.</p>

        <p><strong>Debug</strong> - an error in a program/ algorithm that prevents it doing what it should is called a bug. To debug is
            to remove the bug from the program.</p>

        <ul>
        <li> For example, if your square algorithm above was &lsquo;forward, right, forward, left, forward, left, forward&rsquo;
            you would find that your robot did not move in a square when you pressed start. Upon inspection you would
            see that the &lsquo;right&rsquo; command should be a &lsquo;left&rsquo;; correcting this is called
            debugging.</li>
        </ul>

        <p><strong>Input</strong> - this is what you the user does when the program is running</p>

        <ul>
            <li> For example, the user could use the arrow keys; they could tilt the iPad, they could press a button</li>
        </ul>

        <p><strong>Output</strong> - this is what you the computer does when the program is running</p>

        <ul>
            <li> For example, when the user could use the arrow keys a character could move up, down, left or right; when the
                user tilts the iPad it could steer a car onscreen, when the user presses a button a song could play</li>
        </ul>

        <p><strong>Program</strong> - if an algorithm is a paragraph then the program is the full chapter. An algorithm could be the
            entire program, just like a paragraph could be an entire chapter. </p>

        <ul>
            <li> For example, you may write an algorithm for a character in a game to move up, down, left and right when
                prompted. You could also write another algorithm for that character to lose a life if they bump into an
                obstacle. You may have numerous other algorithms all contributing toward that character&rsquo;s behaviours.
                All these algorithms together are the character&rsquo;s program</li>
        </ul>

        <p><strong>Repetition</strong> - this is used for more effective programming. It helps the programmer work quicker and neater and
            makes finding bugs easier.</p>

        <ul>
            <li> For example, instead of doing the above algorithm for a square you could simply do &lsquo;4 x forward,
                left&rsquo;</li>
        </ul>

        <p><strong>Selection</strong> - a question is asked in the program and depending upon the answer the program takes one of two
            courses of action. This can also be called if, then</p>

        <ul>
            <li> For example, if the character bumps into the fire then lose one life; if the character bumps into the pot of
                gold then score one point. This could also progress to if, then, else. If character has shield and bumps
                into the fire then lose no lives, else lose one life</li>
        </ul>

        <p><strong>Sequence</strong> - this is the order in which the commands are placed. It is possible to have the correct commands
            but to have them in the wrong sequence, so this is very important.</p>

        <ul>
            <li> For example, in the algorithm example above, we see that &lsquo;forward, left, forward, left, forward, left,
                forward&rsquo; makes a square. However if you change the sequence you will not get a square; forward,
                forward, left, left, forward, left, forward</li>
        </ul>

        <p><strong>Variable</strong> - this is a value that changes as the program plays out, it affects what happens when the program is
            running</p>

        <ul>
            <li> For example, you could start a game with 3 lives. The game will end when this becomes 0 lives </li>
        </ul>

    </div>
    <div class="col-md-4">
        <div class="aside-image">
            <img src="/images/static/edtech_1.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_2.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_3.jpeg" alt="">
        </div>
    </div>
</div>