<div class="row">
    <div class="col-md-12">
        <h1 class="page-title tac">Curriculum</h1>

        <div class="row curriculum-list">
            <div class="col-md-4">
                <a ui-sref="home.edtech.curriculum.ireland">Ireland</a>
            </div>
            <div class="col-md-4">
                <a ui-sref="home.edtech.curriculum.england">England</a>
            </div>
            <div class="col-md-4">
                <a ui-sref="home.edtech.curriculum.rest">Rest of World</a>
            </div>
        </div>

    </div>
</div>