<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">User Guide for Site</h1>
        <a class="title-note" target="_blank" ng-href="/resources/User-Guide-for-Site.pdf">Download as pdf</a>


        <h3 class="section-title">Working in Pairs/ Groups</h3>

        <p>
            We recommend that students work in pairs for most activities and in groups for some
            (depending on the task assigned). A significant amount of student learning will come from their
            interactions/ discussions with each other.
        </p>


        <br>
        <h3 class="section-title">Apps and Programs</h3>

        <p>Please ensure that all apps and programs from your plan are installed and updates have recently been run. See
            special
            notes on Office 365/ Google Apps and Kodu below.</p>

        <em>Office 365/ Google Apps:</em>

        <ul>
            <li>
                You need to be registered for both of these in order to use them. Microsoft and Google both offer the
                service for
                free but there is a significant process involved with registration. We understand that most schools
                would rather not
                do this themselves, so we provide a discounted rate (50% off) for this service to all Educ8 subscribers
                - go to the
                Other Services page on the site for more info on our quick and easy registration process.
            </li>
        </ul>

        <em>Installing Kodu:</em>

        <ul>
            <li>If Kodu is part of your school plan then please install on the network rather than locally (you may need
                help from
                your IT support company in order to this properly).
            </li>
        </ul>

        <br>
        <h3 class="section-title">Your Dashboard</h3>

        <p>
            A dashboard has been created for you based on the whole school plan designed by your
            school’s dedicated admin for the site. The dashboard includes everything you need to teach an
            exciting, impactful curriculum; including schemes of work/ lesson plans, presentations, demo
            videos for every lesson, an assessment tool and a teacher’s notes section
        </p>

        <br>
        <h3 class="section-title">Student Dashboard</h3>

        <p>
            The students will have access to a similar dashboard during the lessons to support their
            learning. They will be able to access the presentations you used, the demo videos as well as
            the teacher’s notes - this lets you create additional support for the whole class or for individual
            students. Note how the presentations have been designed to double as a teaching tool as well
            as a support tool for the students while working on tasks.
        </p>

        <br>

        <h3 class="section-title">Classroom Management</h3>

        <p>
            Using technology can be a distracting exercise for students (and adults!). To ensure students
            are always listening when you are speaking you can get them to hide the screen when you’re
            speaking; they can do this by locking a tablet, turning it upside down if it has a case with a lip,
            closing the lid of a tablet/ laptop, turning the monitor off on a desktop computer. It’s a simple but
            extremely effective strategy to get the most out the lessons.
        </p>

        <br>
        <h3 class="section-title">Countdown Timers</h3>

        <p>
            To further help with classroom management we have suggested using timers to keep the
            students focussed during every task. Feel free to adjust these timers or repeat them if the
            students need more time. Try and be vigilant though to make sure they stay on task. You can
            use the countdown timer on your tablet (if it’s plugged into the whiteboard) or you can use free
            online timers - just Google ‘online countdown timer’. There’s loads to choose from!
        </p>

        <br>
        <h3 class="section-title">Android Users</h3>

        <p>
            The most impactful element of these schemes is the pedagogy and the structure of the weeks/
            developmental pace of the project. Due to the inconsistencies between Android brands and
            tablets, the schemes have been written with the iPad in mind.
            <br>
            The pedagogy and structure of the lessons will remain the same no matter what device you are
            using. However, because not all Android apps are available on all tablets you will need to
            quickly browse available apps and see which one suits you best. See bottom of document for
            suggested apps
        </p>


        <br>
        <h3 class="section-title">Six Year Development Plan</h3>

        <p>The school plan is based on a six year development plan that has been designed to ensure all staff and
            students start
            at an appropriate difficulty level; every year as their skills and confidence grow, so too does the plan.
            See full
            Six Year Development Plan for more details.</p>

        <br>
        <h3 class="section-title">IWB</h3>

        <p>Interactive Whiteboard.</p>

        <br>
        <h3 class="section-title">Step by Step Instructions - make them your own!</h3>

        <p>The plans have been written in an easy to follow step by step structure. Don&rsquo;t be put off by any long
            instructions, they are only long because they have been broken down into baby steps. Once you have followed
            the
            steps once you will understand.</p>

        <p>The schemes are divided into 'steps' rather than 'lessons' (not to be confused with the step by step
            structure of the
            plans!). This is because each step may be a singular lesson, or it may take two or three lessons, depending
            on how
            you choose to deliver it.</p>

        <p>The plans have been written in a way that has been proven to succeed in the classroom, but no one knows your
            students
            better than you do. Please adjust the plans according to your teaching methods and your students. Get
            confident with
            the scheme before teaching the first lesson. This will make the lessons more effective.</p>

        <p>Look out for different ways to extend the learning or to integrate it with other areas of learning that is
            taking
            part during the same week/ term/ year. Constantly challenge your students and provoke thought from them,
            make sure
            they are leading their own learning. </p>

        <br>
        <h3 class="section-title">&lsquo;With prompting from students&rsquo;</h3>

        <p>Throughout the plans you will see the instruction to do something &lsquo;with prompting from the students&rsquo;-
            if
            the students are unable to prompt you this means that you need to don&rsquo;t breeze past if they can&rsquo;t
            prompt! They need reinforcement</p>

        <br>
        <h3 class="section-title">Assessment</h3>

        <p>You will find an easy to use assessment tool in your dashboard. This has been prepopulated with assessment
            criteria.
            You can add your students names and edit the criteria as well. The tool provides an easy to use method for
            documenting progress as well as printing and sharing your assessment details.</p>

        <br>
        <h3 class="section-title">Self Assessment</h3>

        <p>See our self assessment suggestions in Edtech tips - these can be very helpful for sharing work with peers at
            the end
            of the project as well as providing assessment and reflection.</p>

        <br>
        <h3 class="section-title">Integrating the Schemes with your Class Topic</h3>

        <p>Some schemes of work start with two weeks of generic learning tasks that are unrelated to your class topic.
            This is
            designed to give the students the necessary time to learn the basic computing skills while simultaneously
            developing
            their knowledge of the class topic in other lesson. You can of course change this if the students are making
            something about a topic where they already have a good understanding of the facts.</p>

        <br>
        <h3 class="section-title">Online Safety</h3>

        <p>There are separate schemes of work for Online Safety for every year group. However, it is always best to
            follow these
            basic rules for being safe online if they have not yet been covered in the Online Safety lessons.</p>

        <p>Inform students that the internet, just like the real world, does contain nasty, undesired elements and that
            it&rsquo;s
            best to know how to avoid them and what to do if you encounter them. Using effective search terms should
            help avoid
            finding undesirable material. Accidents happen though so if they find something they can follow these simple
            steps:</p>

        <p>1) Get rid of it! If it&rsquo;s a tablet, close it or turn it upside down; if it&rsquo;s a laptop, close it,
            a
            desktop computer, turn off the monitor. NB pressing &lsquo;Back&rsquo; can be slow and ineffective</p>

        <p></p>

        <p>2) Tell a responsible adult</p>

        <br>
        <h3 class="section-title">Updates and changes</h3>

        <p>Apps change all the time with updates. Often there may be a specific step in the plans that looks slightly
            different
            in the app (due to a recent update). Normally the change is negligible and easy to figure out. If it isn&rsquo;t
            please raise the issue on the Community Forum and we will amend it immediately. We will be regularly
            updating the
            plans.</p>

        <br>

        <h3 class="section-title">Recording Voice on Tablets</h3>

        <p>Locate the physical microphone on the tablet; on all iPads up to iPad Air 1 the mic is located on top of the
            iPad, in
            the middle, between the headphone jack and the lock button; it&rsquo;s a tiny hole. It differs on all other
            tablets.
            To record good quality voice the students can work in pairs. The director will hold the tablet with the
            microphone
            facing the narrator, about 10 - 15cm from their mouth. Ensure students have written a script and practiced
            saying
            the lines with expression before recording. Speak in a loud, clear voice. This will produce very good
            quality audio,
            even in a noisy classroom. Give the students access to a quiet area if possible, to get even better quality
            audio.</p>


        <br>
        <h3 class="section-title">YouTube videos</h3>

        <p>
            There links to YouTube videos throughout the schemes of work. We recommend that you
            download the video prior to the lesson using one of the YouTube video rippers; especially if your
            school has blocked YouTube
        </p>

        <br>

        <h3 class="section-title">Android App Alternatives</h3>

        <p>Book Creator scheme - app is available on Android</p>
        <p>iMovie scheme - Video Show; VidTrim; AndroVid Video Editor; Video Maker Pro; Video FX Music Video Maker (don&rsquo;t
            be put off by the name)</p>

        <p>iMotion HD - PicPac</p>

        <p>Android user? Please add other suggested apps on the Community Forum. </p>


        <div class="gray-block">
            Setting up your Dashboard

            <p>Login to the site using the details sent to you by email.</p>

            <p>Go to My Dashboard</p>

            <p>Select Class > Click to create a new class</p>

            <p>Give the class a name using their intake year (the year they started school), the academic
            year and your name; in coming years their new teacher will need to retrieve their information,
            this will make them easy to identify. <strong>For example</strong>; I​ ntake 2011 - 2017-18 - Ms Saddique</p>

            <p>If you are starting with a class that has already done a year of support with Educ8.world then
            they are already set-up. Simply retrieve them by searching for them using the above criteria to
            help you search; start with their intake year; then the most recent academic year and select.
            If you are looking for previous assessment records you can look for a specific year for that
            class using the academic year and teacher name to help your search.</p>

            <p>Enter the email address that the students will be using as a joint username; you could create
            a class email address or use your own. Create a shared password.</p>

            <p>Next you will choose three courses; one for Computer Science, one for Digital Literacy and
            one for IT. It is intended that most teachers will choose a course that corresponds with their
            year group. Please feel free to look inside the lessons and choose a more advanced level if
            your students are already experienced with the course being suggested and you feel they are
            ready for a harder challenge. This is the school’s entry level plan; every year the levels will
            increase until there is an Early Years level and then level 1 - 6 corresponding with the rest of
            the year groups.</p>

            <p>Create your assessment document by entering the names of your students.</p>
            <p>Choose Save Changes > Choose Complete Plan from the top of the screen.</p>

            <p>Congratulations, your class is now setup!</p>

            <p>You can now:</p>
            <ul>
                <li>Easily assess student progress using the assessment tool</li>
                <li>Give your class the shared username and password to give them access to their student dashboard</li>
                <li>Leave teacher comments in your teacher dashboard to appear in the student
                    dashboard during lessons</li>
            </ul>

            <p>More about the student dashboard:</p>

            <p>The student dashboard has been designed so students can support their own learning and
            free teachers up to circle the room and support as needed (with as little interruption as
            possible).</p>

            <p>The student dashboard gives the students access to the same presentation that you will use
            for teaching, the demo videos you watched while reading the lesson plan as well as any
            comments you leave on your teacher dashboard; these can be whole class comments,
            targets for specific groups, learning needs, additional extension activities etc.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="aside-image">
            <img src="/images/static/edtech_1.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_2.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_3.jpeg" alt="">
        </div>
    </div>
</div>