<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">Common IT Issues in the Classrom</h1>
        <a class="title-note" target="_blank" ng-href="/resources/CopyofCommonIssues-Classroom.pdf">Download as pdf</a>


        <h3 class="section-title">My computer isn’t connected to my whiteboard</h3>

        <ol>
            <li>
                Your whiteboard has different channels - it should automatically go to the channel your
                computer is plugged into when turned on but sometimes it doesn’t. Press Source or
                Input on your remote control to change channel and see if your computer pops up on
                one of them
            </li>
            <li>
                computer is connected to the board very simply - with a direct cable (VGA cable - if
                you don’t know what this looks like just Google it). There should be one end plugged into
                your computer and one end plugged into the whiteboard. You may have a junction box in
                between the computer and whiteboard. This is just like an extension lead that allows you
                to plug in more devices; e.g. a visualiser. Check all is plugged in, unplug and plug back
                in again.
            </li>
            <li>
                If the cable is plugged in you can try the following

                <ul>
                    <li>Press the Windows button on the keyboard (left of spacebar) and ‘P’
                    simultaneously - choose Duplicate</li>
                    <li>Windows 10 - press the message box (bottom right) > choose Project and
                    choose Duplicate</li>
                </ul>
            </li>
        </ol>

        <br>
        <h3 class="section-title">My Whiteboard isn’t working</h3>

        <p>
            Have a look at the document that covers interactive whiteboards and projectors (also on the
            Common Issues page). This gives a detailed account of common problems and many easy
            solutions)
        </p>


        <br>
        <h3 class="section-title">My Computer won’t turn on</h3>


        <ol>
            <li>
                It sounds silly, but often this is because it is not plugged in or the socket has been turned
                off.

                <ul>
                    <li>Check the plug is in the wall and in the other end of the lead is in the computer</li>
                    <li>Check the socket is switched on</li>
                    <li>Unplug and both ends of the power lead and plug back in again</li>
                    <li>Check another device in the same socket to see if the problem is with the socket</li>
                </ul>
            </li>
        </ol>


        <br>
        <h3 class="section-title">Internet issues</h3>

        <p>
            Your computer is either connected to the internet via Wifi or a network cable.
        </p>

        Network cable:
        <br>
        <ul>
            <li>
                check the network cable to ensure it is plugged in properly. Unplug and reconnect all
                cables
            </li>
        </ul>


        Wifi
        <br>
        <ul>
            <li>
                If you are on WiFi – check the WiFi icon on the bottom right is connected (the symbol is
                a triangle of vertical white lines). If the icon is greyed out or has a flame icon on top of it
                then try clicking on it and reconnecting to your network. If this does not work, check your
                internet router is plugged in.
            </li>
            <li>
                If other computers are having trouble connecting you can try resetting your router
            </li>
            <li>
                Some laptops also have their own WiFi button/ switch which may have been
                inadvertently switched off (these can be hidden on the side/ back of the device.
            </li>
        </ul>


        Specific website
        <br>
        <ul>
            <li>
                If you cannot access a specific website (and all other sites are working fine) it is probably
                due to the firewall on your school’s internet security. If this site is necessary for your
                lessons then contact your ICT coordinator
            </li>
        </ul>

        <br>
        <h3 class="section-title">The sound isn’t working</h3>

        <ul>
            <li>Check the sound icon on the bottom right of the screen. If you don’t see the icon click
            on the little arrow which will bring up a menu of buttons – the sound button should be
            here. Some laptops also have sound shortcuts on the keyboard; you may need to press
            the Fn button at the same time.</li>
            <li>The computer is likely connected to the whiteboard/ speakers via a long headphone
            style cable. Check it is plugged in at both ends.</li>
            <li>Some whiteboards and speakers have separate volume controls that aren’t always
            obvious when looking at them - look for them and check to see they are on/ volume is
            turned up.</li>
        </ul>


        <br>
        <h3 class="section-title">Printer issues</h3>

        <ul>
            <li>When printing make sure you choose the correct printer from the drop-down menu in the
            print dialogue box.</li>
            <li>If you cannot remember what printer you sent your document to then you probably never
            changed this from the default option – go back to print again, once the dialogue box
            opens it will show the default printer. Cancel the new print.</li>
            <li>You can change your default printer in the Control Panel > View Devices and Printers</li>
            <li>If it won’t print at all then check that your network/ usb cable is plugged in. Unplug and
            reconnect all cables.</li>
        </ul>


        <br>
        <h3 class="section-title">The computer can’t play a DVD</h3>

        <ul>
            <li>Try inserting the DVD and opening the ‘computer’ folder from the Windows Menu
            (bottom left icon).</li>
            <li>Right click on the DVD icon in the box and select ‘open with’</li>
            <li>Choose VLC media player. You may need to update or (re)install the programme if you
            are still having issues</li>
        </ul>


        <br>
        <h3 class="section-title">I can’t find where I saved my files</h3>

        <p>
            Go to the programme you created the document in. Check recent documents. In MS Office this
            is done simply by clicking the Office icon on the top left and hovering the mouse over the ‘open’
            option. If you don’t see it there; click on the Windows icon on the bottom left – in the search bar
            enter the name of your document.
        </p>

        <p>
            <strong>Never put your hands near exposed wires or in any location where you can't see exactly what you're
                touching.</strong>
        </p>

        <br>
        <h3 class="section-title italic">Educ8 Documents</h3>

        <p>
            <a class="italic" target="_blank" ng-href="/resources/General-Classroom-Issues.pdf">Click to see General
                Classroom Issues document</a>
        </p>

        <p>
            <a class="italic" target="_blank"
               ng-href="/resources/General-Maintenance-and-Troubleshooting-for-Projectors-and-Whiteboards.pdf">Click to
                see General Maintenance and Troubleshooting for Projectors and Whiteboards document</a>
        </p>

        <br>
        <h3 class="section-title italic">Documents sourced online</h3>

        <p>
            <a class="italic" target="_blank" ng-href="/resources/Promethean-Whiteboards.pdf">Click to see Promethean
                Whiteboards document</a>
        </p>


    </div>
    <div class="col-md-4">
        <div class="aside-image">
            <img src="/images/static/edtech_1.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_2.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_3.jpeg" alt="">
        </div>
    </div>
</div>