<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">Growing With Your School</h1>
        <a class="title-note" target="_blank" ng-href="/resources/SixYearPlan-Educ8.pdf">Download as pdf</a>

        <h3 class="section-title">School development plan</h3>

        <p>
            We have designed your school plan to comprehensively address the development of your
            students as skilled, informed digital citizens as they progress through primary school. The plan
            also ensures that they develop as responsible and confident users of the internet; aware of
            online dangers as well as ensuring that they treat others respectfully when using technology.

        </p>
        </p>
            Students will develop a holistic knowledge of using technology by using it in different areas of
            learning. They will recognise it as a tool for learning and for creating, just like pencil and paper.
            They will use technology to go beyond the potential of pencil and paper in many areas, while
            simultaneously developing a new appreciation of traditional learning tools.

        </p>

        <br>

        <h3 class="section-title">Growing with your school</h3>

        <p>
            The Educ8 plan is based on making outstanding teaching as simple as possible. We understand
            that students currently in the final year of primary school will not be working at the same
            advanced computing level that the students currently beginning their school life will be in six
            years time. We also understand that many teachers don’t yet have the advanced skills that will
            be required to teach these students when they reach upper primary school. We have designed
            your plan based on this knowledge - aimed at, and growing with, the skills and confidence of
            your staff and students.
        </p>

        <ul>
            <li>
                In the first year of support the year groups are in pairs; Primary 1 and 2 are both doing
                level 1 difficulty, Primary 3 and 4are both doing level 2 difficulty, and Primary 5 and 6 are
                both doing level 3 difficulty
            </li>

            <li>
                In the second year of support the new Primary 2’s are now working on Level 2 (see table
                below); this is because they have already done Level 1 when they were in Primary 1
            </li>

            <li>
                This trend progresses every year until Primary 6 students are doing Level 6 difficulty
                (see below). Having done six years of the curriculum the students will be ready for a far
                more advanced curriculum in Primary 6 than the current students are.
            </li>
        </ul>

        <br>

        <img src="/images/static/the_plan_that_grows.png" alt="">

        <br>
        <br>

        <h3 class="section-title">Six Year Projection for Your School</h3>

        <p>
            In a digitally proficient school each year group, from Early Primary to Primary 6, will excel in all
            three key areas; Digital Literacy, IT and Computer Science (detailed above). Staff and students
            will increasingly be integrating technology seamlessly into other subject areas as they develop
            familiarity with course content and the opportunities posed by technology. The development of
            skills and confidence will also contribute to the development of this seamless integration.
        </p>

        <p>
            Students from a digitally proficient school will also graduate primary school having completed a
            progressive e-Safety program with age appropriate developments throughout their primary
            school life. They will confident, informed and responsible digital citizens.
        </p>

        <p>We will support you on every step of this journey by:</p>

        <ul>
            <li>
                Updating your plan every year to reflect the growth in skills and confidence of your staff
                and students
            </li>
            <li>
                Ensuring your e-Safety resources and training documents stay up to date with the most
                recent threats and issues
            </li>
            <li>
                Creating an ever growing list of training documents, so your staff will remain on a solid
                growth curve
            </li>
            <li>
                We know life is busy in schools - your Educ8 Community Forum will ensure that you
                don’t spend valuable time researching/ comparing products and services - for all future
                issues you will just have one place to come to
            </li>
            <li>
                Testing all new apps and programs as they enter the education world so you are
                constantly up to date with what’s working well in other schools
            </li>
            <li>
                Continuing to offer discounted rates and support for subscribers for services such as
                Office 365, G Suite (Google Apps), offsite backups for vital data and more - you tell us
                your needs and we’ll add it to the list
            </li>
        </ul>

        <br>
        <h3 class="section-title">Seamless Progression for Students</h3>

        <p>
            At the start of a new school year, the new teacher will simply access the previous assessment
            record for their new class to see:
        </p>

        <ul>
            <li>How well individual students progressed in the previous year</li>
            <li>
                The course, and level of course, that the students covered the previous year

                <ul>
                    <li>
                        Knowing the level of course previously covered makes it easy for the new class
                        teacher to ensure students are progressing every year; e.g. if the new teacher
                        knows that the students completed Level 1 of Book Creator most recently, then
                        they know that they are progressing to the next level for this school year
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    <div class="col-md-4">
        <div class="aside-image">
            <img src="/images/static/edtech_1.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_2.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_3.jpeg" alt="">
        </div>
    </div>
</div>