<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">Self Assessment</h1>
        <a class="title-note" target="_blank" ng-href="/resources/SelfAssessment.pdf">Download as pdf</a>

        <h3 class="section-title">The Educ8 Assessment Tool</h3>

        <p>Educ8 comes with an easy to use assessment tool for teachers, located conveniently in the
        dashboard. We have prepopulated this with assessment criteria that is easily edited should you
        wish to change it. Assessing your students is easy, you simply colour code their progress
        according to each criteria. The documents are easily shared as well.</p>

        <p>All of our courses result in the students finishing with a final project that can be stored and kept
        as evidence of learning.</p>

        <p>Self assessment is therefore not necessary but can provide extra depth to your lessons as well
        as providing excellent evidence of learning that can be presented to staff, parents and
        inspectors. The students can also use the self assessment themselves as part of an end of
        project presentation to their peers.</p>


        <br>
        <h3 class="section-title">Using Self Assessment to Extend Learning and Gather Evidence</h3>

        <p>
            The first decision you need to make is how regularly you want your students to self assess.
            Students could do this at the end of every lesson or they could do less frequently, the pros and
            cons of both are self explanatory. Regular self assessment means it will be more detailed and
            generally of a superior quality. Doing it at the end of your course of work frees up your timetable
            a little bit
        </p>


        <br>
        <h3 class="section-title">Easy Self-Assessment Strategies</h3>

        <p>
            We recommend taking some time early on to get students familiar with some simple tools for
            self assessment. Once students are confident with this routine they will be able to take five
            minutes or less at the plenary point of your lessons to document their own learning. This will
            take a small bit of practice at the start, but they will get used to it and it will become as
            straightforward and routine as any other part of their day.
        </p>


        <br>
        <h3 class="section-title">Regular Self Assessment</h3>

        <p>Students will record their learning through a visual image and explanatory text</p>



        <strong>Recording the visual</strong>

        <p>Students will firstly need to consider their learning intentions and then think what image would best capture
            this. As they get more used to doing this they will start to capture the images and build their assessment
            documents during the lesson.</p>

        <ul>
            <li>
                PC/ Chromebook - take a screenshot - hold the Fn and press the Print Screen button

                <ul class="circle">
                    <li> This may differ from device to device, if this doesn&rsquo;t work, Google the brand and model of device you
                        have and &lsquo;screenshot&rsquo; and you will get an answer quickly</li>

                    <li> Taking a screenshot copies an image of the screen, next you need to paste it - go to MS Word/ Google Docs or
                        MS PowerPoint/ Google slides and press CTRL + V or right click and press paste</li>

                    <li> Next you can click on the image and choose crop to edit the image according to the learning intention</li>
                </ul>
            </li>


            <li>
                iPad - take a screenshot - press the Home button and Lock button together simultaneously.

                <ul class="circle">
                    <li> This will save the image to your Camera Roll where you can access it in the next step</li>
                </ul>
            </li>


            <li>
                Android - take a screenshot - this will differ depending on what brand of tablet you have - Google the brand
                and model of tablet and &lsquo;screenshot&rsquo; and you will get an answer quickly

                <ul class="circle">
                    <li> This will save the image to your Camera Roll where you can access it in the next step</li>
                </ul>
            </li>

            <li>
                BeeBots - with devices the students can use a camera to take pictures of themselves achieving key learning
                intentions

                <ul class="circle">
                    <li> This will save the image to your Camera Roll where you can access it in the next step</li>
                </ul>
            </li>
        </ul>

        <strong>Annotating the visual</strong>

        <p>Now you have an image(s) of the learning intention being achieved you simply need to annotate it/ them.</p>

        <ul>
            <li>
                PC/ Chromebook - use MS Word/ Google Docs or MS PowerPoint/ Google Slides (there are of course many other
                options - consider MS Sway amongst others)

                <ul class="circle">
                    <li> Once you have taken your screenshot you will paste it into your program of choice and crop it to focus on
                        the learning intention</li>
                    <li> Give it a title - the learning intention</li>
                    <li> Explain how the learning intention was achieved with a brief note under the picture</li>
                </ul>
            </li>
            <li>
                iPad/ Android - use Book Creator/ Comic Life/ Keynote/ or any of the above

                <ul class="circle">
                    <li> Go to your chosen app and press Add Photo</li>
                    <li> Select the screenshot taken from your Camera Roll</li>
                    <li> Give it a title - the learning intention</li>
                    <li> Explain how the learning intention was achieved with a brief note under the picture</li>
                </ul>
            </li>
            <li> BeeBots - these images are on your camera. Use any of the above options to turn them into learning
                record.</li>
        </ul>

        <br>
        <h3 class="section-title">Saving and Sharing Self-Assessment</h3>

        <p>See Sharing Work in Ed-tech tips for help with this.</p>
    </div>
    <div class="col-md-4">
        <div class="aside-image">
            <img src="/images/static/edtech_1.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_2.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_3.jpeg" alt="">
        </div>
    </div>
</div>