<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">
            Sharing Work
            <br>
            <em>(between devices, people and places)</em>
        </h1>
        <a class="title-note" target="_blank" ng-href="/resources/SharingWork.pdf">Download as pdf</a>

        <h3 class="section-title">Sharing, Saving and Retrieving Work</h3>

        <p>It is vital that you have a system for saving and sharing student work in order to achieve the best learning
            possible, and to present evidence of learning to peers, parents and inspectors.</p>

        <p>Students will need to be able to save their work at the end of every and retrieve it at the beginning of the
            next step if they are going to be able to create a project. Once the work is complete you may wish to share
            it with other people outside the class/ school. We&rsquo;ll help you do that with some easy tips.</p>

        <p>You can share and save student work through a variety of methods. Let&rsquo;s look at the most common and
            accessible ones</p>

        <ul>
            <li> Your server/ shared space</li>
            <li> Dropbox</li>
            <li> Google Drive</li>
        </ul>
       
        <br>
        <h3 class="section-title">Saving and Retrieving Work</h3>

        <strong>Tablets</strong>

        <p>Tablets save the vast majority of work as the students are working. Here&rsquo;s some tips for helping them
            retrieve it. There are more complex methods, but we&rsquo;re going to keep things simple.</p>

        <ul>
            <li> Number your devices using a screensaver or a physical label so the students get the same one back every
                week</li>
            <li> Students to save their work using their name (they can add something after if they so wish); e.g. Muhammed
                and Sarah; or Muhammed and Sarah - Ancient Egypt Documentary</li>
            <li> When finished you will use Dropbox or Google Drive to get the work off the tablets and onto the school
                network/ website/ cloud space (to easily share with parents/ school community). See below for tips on
                Dropbox and Google Drive.</li>
        </ul>

        <br>
        <strong>Desktops/ Laptops</strong>

        <p>If you have a shared space then you should have a class folder with individual folders for your students.
            Getting them familiar with accessing their personal folder should be focus from early on in primary
            school.</p>
        <p>If there is no shared area then students will need to get the same computer every week to ensure progress
            with a project.</p>
        <p>If you are looking to share the work to the school website or with parents you can use Dropbox or Google
            Drive. See below. </p>

        <br>
        <strong>Chromebooks</strong>

        <p>If you are using Chromebooks then you have no doubt set each student up with a Google Apps/ G Suite account.
            See Google Drive tips below. If you have not set these accounts up then please visit the Other Services page
            to see how we can help.</p>

        <br>
        <strong>Dropbox and Google Drive</strong>

        <p>These are cloud storage opportunities that can be used in a variety of formats; app/ website/ program. You
            can get different subscriptions ranging from free to a variety of relatively cheap packages. Cloud storage
            means you can save your work anywhere and access it on any other device without having to remember your USB
            key, have room on your USB key or not have lost your USB key! Not only that, but you can share your files
            with other people easily - including large files that can't be emailed.</p>
        <p>For both Dropbox and Google Drive you will need to create an account and sign in to the app/ desktop version
            to complete the steps below.</p>

        <br>
        <strong>Dropbox</strong>

        <p>The app is invaluable for teaching and learning as students can save their work at the end of a project and
            you will have it all in one folder in the cloud; you can leave it all in the cloud or download it to your
            computer/ network.</p>
        <p>You can use the app in <strong>2 easy steps:</strong></p>

        <strong>1. Adding files/ creating a new folder</strong>

        <ul>
            <li> Create a class folder using the three circles at the top of the screen > press them and select Create
                Folder</li>
            <li> There will be minor differences if you are using the web version, but the layout is essentially the same</li>
            <li>
                Create a folder inside this folder for your students; it can be a good learning experience for the students
                (as well as reducing teacher workload) if the students make their own folders inside the class folder
                <br>
                <br>
                <img src="/images/static/edtech_sharing_1.jpeg" alt="">
                <br>
                <br>
                <br>
            </li>
            <li> To put completed work in the folder, simply open the folder you wish to add files to (press Files on the
                bottom menu if you can&rsquo;t see your folder)</li>
            <li> Press the + button and select 'Upload Photos'. This will bring you to the camera roll and you can select
                images and videos. See image below.</li>
            <li>
                To upload other work such as eBooks you will use the Share button inside the app and select Share to
                Dropbox. This will open Dropbox, ensure the file name is correct and then navigate to your folder and choose
                Save.
                <br>
                <br>
                <img src="/images/static/edtech_sharing_2.png" alt="">
                <br>
                <br>
                <br>
            </li>
        </ul>

        

        <strong>2. Sharing the Work Outside your Classroom/ School</strong>

        <p>
            You can access your folder online at www.dropbox.com or you can download the app. Both look quite similar
            when open. You can also share these files with anyone in the world - including huge files like movies etc.
            How do you do it? Easily. Log on to the Dropbox website and follow the instructions below.
            <br>
            <br>
            <img src="/images/static/edtech_sharing_3.jpeg" alt="">
            <br>
            <br>
        </p>

        <ul>
            <li> Press the Share button (right hand side)</li>
            <li> A Sharing pop-up menu appears</li>
            <li> Select the editing rights (if it&rsquo;s going outside the school you likely won&rsquo;t want people having
                editing rights)</li>
            <li> Include the email addresses in the pop-up box or select &lsquo;Create a Link&rsquo; and copy and paste that
                into a regular email</li>
            <li> Recipients will receive the same folder that you shared and will be able to view or download the content</li>
        </ul>

        <br>
        <strong>Google Drive</strong>

        <p>We find the Dropbox app a bit easier to use at the moment, no doubt Google will soon have rectified this.
            That said, Google Drive is excellent and if you are using Google Apps/ G Suite then you may decide that it&rsquo;s
            easier to stick with Google Drive.</p>

        <p>You can use the app in 2 easy steps:</p>

        <p>1. Adding files/ creating a new folder</p>

        <ul>
            <li> Create a class folder using the Plus button (in the app) or the New button (desktop) and select folder</li>
            <li>
                The app and desktop versions have minor differences, but the layout is essentially the same
                <br>
                <br>
                <img src="/images/static/edtech_sharing_4.png" alt="">
                <br>
                <br>
                <br>
            </li>
            <li> Create a folder inside this folder for your students; it can be a good learning experience for the students
                (as well as reducing teacher workload) if the students make their own folders inside the class folder</li>
            <li> To put completed work in the folder, simply open the folder you wish to add files to. If you can&rsquo;t
                locate your folder then; app - press the back arrow on the top left until you see it; desktop - press My
                Drive on the left hand side and use the menu</li>
            <li> Press the + button and select 'Upload Photos'. This will bring you to the camera roll and you can select
                images and videos. See image below.</li>
            <li> To upload other work such as eBooks you will use the Share button inside the app and select Share to Google
                Drive. This will open Google Drive, ensure the file name is correct and then navigate to your folder and
                choose Save.</li>
        </ul>

        <p>2. Sharing the Work Outside your Classroom/ School</p>

        <p>
            You can access your folder online at www.dropbox.com or you can download the app. Both look quite similar
            when open. You can also share these files with anyone in the world - including huge files like movies etc.
            How do you do it? Easily. Log on to the Dropbox website and follow the instructions below.
            <br>
            <br>
            <img src="/images/static/edtech_sharing_5.png" alt="">
            <br>
            <br>
        </p>

        <ul>
            <li> App - Press the three circles to the right of the folder (see above) and select Get Link</li>
            <li> Desktop - right click on a folder and select Get Shareable Link</li>
            <li> This will copy the link to the clipboard (you won&rsquo;t see anything apart from a prompt telling you this
                has happened)</li>
            <li> Go to your email and paste the link into the body of a new mail; tablet - hold screen and press paste;
                desktop - right click and select paste</li>
            <li>
                To change the editing rights you can complete the above, except this time don&rsquo;t choose Get Link,
                choose Add People (app) or Share (desktop) - you can actually input the email addresses here if that&rsquo;s
                easier instead of copying and pasting the link as directed above.

                <ul class="circle">
                    <li> Desktop - click advanced and change individuals or groups and select appropriate level of access; view only
                        or can edit</li>
                    <li> App - click the three circles (top right of pop-up box) and choose &lsquo;Who has access&rsquo;. You can
                        browse individuals or groups and select appropriate level of access; view only or can edit</li>
                </ul>
            </li>

            <li> Recipients will receive the same folder that you shared and will be able to view or download the content</>
        </ul>

        <br>
            <h3 class="section-title">Advanced:</h3>

        <p>
            Much like traditional hard drive storage you have folders in Google Drive and Dropbox which you can create
            and name appropriately. If you have Google Drive/ Dropbox installed on your PC or Mac it will appear as an
            actual folder in the menu beside 'My Documents' and 'Computer' etc. It's business as usual when saving to
            these folders locally on the computer. The advantage is that they will automatically begin to upload to your
            online account and become accessible anywhere in the world. This does require proper management of the space
            being used so it is not recommended to use this unless someone at your school has taken on the
            responsibility and done some trial work to familiarise themselves with its operation.
        </p>


        <br>
        <h3 class="section-title">Sharing eBooks</h3>


        <p>
            You can share your eBooks with parents/ school community by using Dropbox or Google Drive.
            However, if the person receiving the email doesn’t have an iPad or suitable device for viewing
            the eBook then what do you do?
        </p>


        <p>
            You can use a tablet or <a href="http://readium.org/">www.readium.org</a> to read the eBooks (for Readium.org use Google
            Chrome as your browser and download the extension - you can then add any book and look at
            them on any computer including using the IWB).
        </p>



        <br>
        <h3 class="section-title">Sharing Videos</h3>

        <p>
            You can share your videos with parents/ school community by using Dropbox or Google Drive.
            Is there a way of sharing it to your website or to parents in a way that it will play on all devices?
        </p>

        <p>
            You can upload your video to <strong>YouTube</strong> (a​ nd change the setting so that it can’t be found by
            anyone except people who have been given the link), or <strong>Vimeo</strong>,​ or <strong>TeacherTube</strong>. W​ hatever
            method you choose, make sure they are set so the videos can’t be found by anyone by
            searching (the viewer should have to have the link to view it) - if the videos don’t have the
            students’ faces or personal/ school details then you likely won’t need to be so concerned with
            privacy (although it isn’t really any extra effort).
        </p>

        <p>
            Once they are uploaded you should be able to add the video to your website easily. If your site
            is managed just send the link to the people who manage it. If you manage your own website
            then most web hosts have an easy to use Add Video function; you can generally just add this
            and then copy and paste the link onto it in your website editor - press Publish and your video is
            now on the website, ta da!
        </p>

    </div>
    <div class="col-md-4">
        <div class="aside-image">
            <img src="/images/static/edtech_1.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_2.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_3.jpeg" alt="">
        </div>
    </div>
</div>