<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">Training Resources</h1>

        <p>Our resource lists may be starting small...but we'll be adding to, and editing, them regularly.
            Watch this space!</p>
        <p><i>All suggestions welcome, please post on the forum.</i></p>
        <br>
        <h3 class="section-title">Office 365 - Getting Started</h3>
        <p>All the basics of standard Microsoft Office with free online storage, easy sharing and collaboration on
            documents. For use by staff and students.</p>
        <p>Take advantage of Microsoft's OVS-ES package and get five free Microsoft licences for all staff and students
            for home use!
            ​</p>
        <p>Click
            <a href="https://docs.google.com/presentation/d/1kEB8TmMYUUVRpID0Nhr18EZjkBAOhemyI_HVELvm6tA/edit#slide=id.p" target="_blank">here</a>
            for presentation or here for a video about Office 365</p>
        <br>
        <h3 class="section-title">Using Technology in the Classroom</h3>
        <p>Introducing the concept of technology as a learning tool. Where does it fit, and how can it extend learning in all subject areas.</p>
        <p>Click
            <a href="https://docs.google.com/presentation/d/1ijiB12bTB2-vRgzGvVmxCqXOTv2hWIUUKM7ZfyibWOw/edit" target="_blank">here</a>
            for presentation</p>
        <br>
        <h3 class="section-title">Online Safety</h3>
        <p>Regularly updated - our staff resource will keep your staff up to speed regarding online safety issues in the
            classroom. Our parents evening resource will ensure that your school community is aware of the issues,
            how to deal with them at home and where to go for help.</p>
        <p>Click
            <a href="https://docs.google.com/presentation/d/1yS1txOdctLZP689ShGcmuIIZgqMz2xQcB4WNqAIYyps/edit#slide=id.p" target="_blank">here</a>
            for Staff Training presentation and here for Parents Evening presentation</p>
    </div>
    <div class="col-md-4">
        <div class="aside-image">
            <img src="/images/static/edtech_1.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_2.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_3.jpeg" alt="">
        </div>
    </div>
</div>