<div class="row">
    <div class="col-md-8">
        <h1 class="page-title">Teacher Tools</h1>

        <p>Our resource lists may be starting small...but we'll be adding to, and editing, them regularly. Watch this
            space!</p>
        <p><i>All suggestions welcome, please post on the forum.</i></p>
        <br>
        <h3 class="section-title">Kahoot!</h3>
        <p><i>Online tool - whole class, interactive quiz/ survey. Easy to use, very effective and lots of fun!
            ​</i></p>
        <p><i>Click
            <a href="https://www.youtube.com/watch?v=pFFv6_6was4" target="_blank">here</a>
            to see a video or
            <a href="https://getkahoot.com/" target="_blank">here</a>
            to visit the site.</i></p>

    </div>
    <div class="col-md-4">
        <div class="aside-image">
            <img src="/images/static/edtech_1.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_2.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_3.jpeg" alt="">
        </div>
    </div>
</div>