<div class="row">
    <div class="col-md-12">
        <div class="list-unstyled home-gallery">
            <div class="gallery-row">
                <div class="gallery-cell">
                    <div class="hexagon">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" ng-click="vm.openLightboxModal(0, vm.galleryImages)" ng-style="{'background-image': 'url({{vm.galleryImages[0].url}})' }"></div>
                        </div>
                    </div>
                </div>
                <div class="gallery-cell">
                    <div class="hexagon">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" ng-click="vm.openLightboxModal(1, vm.galleryImages)" ng-style="{'background-image': 'url({{vm.galleryImages[1].url}})' }"></div>
                        </div>
                    </div>
                </div>
                <div class="gallery-cell">
                    <div class="hexagon">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" ng-click="vm.openLightboxModal(2, vm.galleryImages)" ng-style="{'background-image': 'url({{vm.galleryImages[2].url}})' }"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery-row even">
                <div class="gallery-cell">
                    <div class="hexagon">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" ng-click="vm.openLightboxModal(3, vm.galleryImages)" ng-style="{'background-image': 'url({{vm.galleryImages[3].url}})' }"></div>
                        </div>
                    </div>
                </div>
                <div class="gallery-cell">
                    <div class="hexagon">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" ng-click="vm.openLightboxModal(4, vm.galleryImages)" ng-style="{'background-image': 'url({{vm.galleryImages[4].url}})' }"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery-row">
                <div class="gallery-cell">
                    <div class="hexagon">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" ng-click="vm.openLightboxModal(5, vm.galleryImages)" ng-style="{'background-image': 'url({{vm.galleryImages[5].url}})' }"></div>
                        </div>
                    </div>
                </div>
                <div class="gallery-cell">
                    <div class="hexagon">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" ng-click="vm.openLightboxModal(6, vm.galleryImages)" ng-style="{'background-image': 'url({{vm.galleryImages[6].url}})' }"></div>
                        </div>
                    </div>
                </div>
                <div class="gallery-cell">
                    <div class="hexagon">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" ng-click="vm.openLightboxModal(7, vm.galleryImages)" ng-style="{'background-image': 'url({{vm.galleryImages[7].url}})' }"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>