<li class="nav-header">
    <div class="dropdown profile-element" uib-dropdown>
        <school-avatar size="70"></school-avatar>
        <a class="dropdown-toggle" uib-dropdown-toggle href>
            <span class="clear">
                <span class="block m-t-xs">
                    <strong class="font-bold">{{ $root.profile.firstName + ' ' + $root.profile.lastName }}</strong>
                </span>
            </span>
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a ui-sref="index.activity">Profile</a></li>
            <li class="divider"></li>
            <li><a ng-click="$root.logout()">Logout</a></li>
        </ul>
    </div>
    <div class="logo-element">
        Educ8
    </div>
</li>
<li ng-if="!$root.profile.school.limitedAccess">
    <a ui-sref="index.schoolPlan" ng-class="{active: $root.currentState.includes('schoolPlan')}">
        <i class="fa fa-calendar-o"></i>
        <span class="nav-label">School Plan</span>
    </a>
</li>
<li ng-if="!$root.profile.school.limitedAccess">
    <a ui-sref="index.class" ng-class="{active: $root.currentState.includes('class')}">
        <i class="fa fa-book"></i>
        <span class="nav-label">Class</span>
    </a>
</li>
<li ng-if="!$root.profile.school.limitedAccess">
    <a ui-sref="index.completedClasses" ng-class="{active: $root.currentState.includes('completedClasses')}">
        <i class="fa fa-check"></i>
        <span class="nav-label">Completed classes</span>
    </a>
</li>