<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>{{pageTitle}}</h2>
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">

            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <h1>This feature is coming soon</h1>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>