<div class="row m-b-xl">
    <div class="col-md-12">
        <h4>Leave general notes/ differentiation information here for students to access on their dashboard during the lesson:</h4>

        <form class="clearfix" ng-validate="vm.lessonValidator" name="lessonForm" ng-submit="vm.submitLesson(lessonForm)">
            <div class="form-group">
                <wysiwyg
                        textarea-id="comment"
                        textarea-class="form-control"
                        textarea-height="220px"
                        textarea-name="comment"
                        textarea-required
                        ng-model="vm.lessonData.comment"
                        enable-bootstrap-title="true">
                </wysiwyg>
            </div>

            <button type="submit" class="btn btn-primary pull-right">Save</button>
        </form>

    </div>
</div>