<a ng-if="!$root.isStudent()" ui-sref="index.schoolPlan.lessons.detail.base({id: vm.lesson.id, courseId: vm.lesson.course.id})" class="btn btn-primary pull-left">Back</a>
<a ng-if="$root.isStudent()" ui-sref="index.studentClasses.lesson.base({id: vm.lesson.id, courseId: vm.lesson.course.id})" class="btn btn-primary pull-left">Back</a>

<div class="lesson-icon-wr">
    <span class="lesson-icon lessonvideo-icon"></span>
    <strong>Lesson & Video</strong>
</div>

<div class="clearfix"></div>

<h2>{{vm.lesson.course.name}}</h2>
<h3 class="m-b-lg">{{vm.lesson.name}}</h3>

<div class="row">
    <div class="col-md-7">
        <pdfviewer src="{{vm.showPlanUrl | trustUrl}}" scale="1.0" on-page-load='vm.pageLoaded(page,total)' id="viewer"></pdfviewer>
        <div class="text-center">
            <button ng-click="vm.prevPage()">&lt;</button>
            <button ng-click="vm.nextPage()">&gt;</button>
            <br>
            <span>{{vm.currentPage}}/{{vm.totalPages}}</span>
            <br>
        </div>
    </div>
    <div class="col-md-5">
        <youtube-video class="full-width" video-id="vm.lesson.youtubeId"></youtube-video>
    </div>
</div>

<br>