<ul class="lesson-nav list-unstyled clearfix">
    <li>
        <a ui-sref="index.studentClasses.lesson.plan">
            <span class="lesson-icon plan-icon"></span>
            <strong>Read Plan</strong>
        </a>
    </li>
    <li>
        <a ui-sref="index.studentClasses.lesson.video">
            <span class="lesson-icon video-icon"></span>
            <strong>Watch Video</strong>
        </a>
    </li>
    <li>
        <a ui-sref="index.studentClasses.lesson.presentation">
            <span class="lesson-icon presentation-icon"></span>
            <strong>Start Presentation</strong>
        </a>
    </li>
    <li>
        <a ui-sref="index.studentClasses.lesson.lesson">
            <span class="lesson-icon lessonvideo-icon"></span>
            <strong>Lesson & Video</strong>
        </a>
    </li>
</ul>