<a ng-if="!$root.isStudent()" ui-sref="index.schoolPlan.lessons.detail.base({id: vm.lesson.id, courseId: vm.lesson.course.id})" class="btn btn-primary pull-left">Back</a>
<a ng-if="$root.isStudent()" ui-sref="index.studentClasses.lesson.base({id: vm.lesson.id, courseId: vm.lesson.course.id})" class="btn btn-primary pull-left">Back</a>

<div class="lesson-icon-wr">
    <span class="lesson-icon video-icon"></span>
    <strong>Watch Video</strong>
</div>
<div class="clearfix"></div>

<h2>{{vm.lesson.course.name}}</h2>
<h3 class="m-b-lg">{{vm.lesson.name}}</h3>

<youtube-video class="full-width" video-id="vm.lesson.youtubeId"></youtube-video>