<div class="row page-title-wr">
    <div class="col-md-12">
        <h1 class="page-title">Other Services</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <p>There are many ways we can help your school beyond the resources included with your subscription. We provide
        these at a significantly discounted rate for our subscribers as well. This list will continue to build depending
        on feedback from our subscribers regarding your wants and needs.</p>
        ​
        <p>Please get in touch with us using the appropriate title below in the subject field of your email to find out
        more - <a href="mailto:info@educ8.world">info@educ8.world</a></p>
        ​
        ​<br>
        <h3 class="section-title">Office 365/ G Suite (Google Apps) Registration</h3>
        ​
        <strong>More than 40% discount for Educ8 subscribers.</strong>
        ​
        <p>These are powerful learning tools for your students as well as admin tools for your staff. Best of all they are
        free! You can register for them online through Google and Microsoft's own website.</p>
        ​
        <p>This is not a straight forward task though and typically take between half a day and a day to get fully
        registered and all your users setup. We can get you fully setup for just €200/ £175 (Normally €350/ £310)</p>
        ​
        <p>Email us for more - <a href="mailto:info@educ8.world">info@educ8.world</a></p>
        ​
        ​<br>
        <h3 class="section-title">Disaster Recovery/ Offsite Backups for Vital Data</h3>

        <p>With Ransomware hitting all establishments from nursery schools to state offices it has never been more
        important to have your vital data safe from threat. Add that virtual threat to the possibility of a physical
        incident at your school and you can see why schools are choosing to have their vital data regularly backed up
        offsite where it can be retrieved no matter what happens.</p>
        ​
        <p>Pricing will depend on how much data you are looking to backup but we offer our subscribers rates that won't be
        beaten anywhere else.</p>

        <p>Email us for more - <a href="mailto:info@educ8.world">info@educ8.world</a></p>

    </div>
    <div class="col-md-4">
        <div class="aside-image">
            <img src="/images/static/edtech_1.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_2.jpeg" alt="">
        </div>
        <div class="aside-image">
            <img src="/images/static/edtech_3.jpeg" alt="">
        </div>
    </div>
</div>