<div class="modal-title">Password restore</div>

<form class="m-t" ng-validate="vm.restoreValidator" name="restoreForm" ng-submit="vm.submitRestore(restoreForm)">
    <div class="form-group">
        <input class="form-control" name="email" ng-model="vm.RestoreModel.email" placeholder="Email address" type="email">
    </div>
    <button class="btn btn-primary block full-width m-b" type="submit">Send new password</button>

    <div class="forgot-pass"><small ng-click="vm.openLoginModal()">Back to login?</small></div>
</form>