<div class="modal-title">Member login</div>

<form class="m-t" ng-validate="vm.loginValidator" name="loginForm" ng-submit="vm.submitLogin(loginForm)">
    <div class="form-group">
        <input class="form-control" name="email" ng-model="vm.LoginModel.email" placeholder="Email" type="email">
    </div>

    <div class="form-group">
        <input class="form-control" name="password" ng-model="vm.LoginModel.password" placeholder="Password" type="password">
    </div>
    <button type="submit" class="btn btn-primary block full-width m-b">Sign in</button>

    <div class="forgot-pass"><small ng-click="vm.openForgotPassModal()">Forgot password?</small></div>

</form>