<div class="homepage">
    <div class="container">
        <header class="homepage-header clearfix">
            <a ui-sref="landing" class="title">EDUC8.WORLD</a>
            <div class="subtitle">Teaching, Plain and Simple</div>
        </header>
    </div>

    <div class="landing-nav gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-3 item">
                    <a ui-sref="signup.base">Build my Free Plan in One Minute</a>
                </div>
                <div class="col-md-2 item">
                    <span ng-click="vm.scrollToSection('faq')">FAQ's</span>
                </div>
                <div class="col-md-2 item">
                    <span ng-click="vm.scrollToSection('edtech')">Edtech Tips</span>
                </div>
                <div class="col-md-2 item">
                    <span ng-click="vm.openLoginModal()">Sign In</span>
                </div>
            </div>
        </div>
    </div>

    <section class="testimonials-block container">
        <div class="row">
            <div class="col-md-4">
                <div class="title">"Fantastic!"</div>
                Alex Purssey
                <br>
                Manager, City Learning Centre
            </div>
            <div class="col-md-4">
                <div class="title">"Easy to use"</div>
                Robert Slezak
                <br>
                Computing Coordinator
            </div>
            <div class="col-md-4">
                <div class="title">"Really impressed!"</div>
                Anthony Allday
                <br>
                Head Teacher
            </div>
        </div>
    </section>

    <div class="container">
        <div class="page-content">
            <section class="intro-block">
                <div class="row">
                    <div class="col-md-8">
                        <h2 class="blocks-title">Say 'hello' to Your Virtual Computing Coordinator</h2>

                        <ul class="list-unstyled">
                            <li>- A bespoke Computing and Online Safety plan that grows with your school</li>
                            <li>- Created especially for you (and your hardware) from over 300 lesson plans
                                <br>
                                &nbsp;&nbsp;(so you can browse and edit if you wish)
                            </li>
                            <li>- Aimed at the skills and confidence of your staff and students</li>
                            <li>- Easy to use assessment tool to monitor progress</li>
                            <li>- Demo videos and presentations for every lesson</li>
                            <li>- Staff and student online dashboards with differentiation tool</li>
                        </ul>
                        <br>

                        <span class="pointer" ng-click="vm.openVideoModal()">
                            <i class="fa fa-youtube-play"></i>
                            Watch video
                        </span>
                    </div>
                    <div class="col-md-4 tac">
                        <div class="ellipse" ng-click="vm.openLightboxModal(0, vm.landingGallery)">
                            <img src="/images/landing_1.jpeg" alt="">
                        </div>
                        <div class="ellipse" ng-click="vm.openLightboxModal(1, vm.landingGallery)">
                            <img src="/images/landing_2.jpeg" alt="">
                        </div>
                        <div class="ellipse" ng-click="vm.openLightboxModal(2, vm.landingGallery)">
                            <img src="/images/landing_3.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </section>

            <section class="features-block" id="edtech">
                <h2 class="blocks-title">Outstanding Teaching for All</h2>
                <p>
                    Not only will you receive a tailor made plan with the most extensive resource list available to
                    schools, chosen from over 300 tried and trusted lessons...<em>our subscriber's area also
                    features:</em>
                </p>
                <br>

                <div class="row">
                    <div class="col-md-6">
                        <div class="teach-features">
                            <div class="item">Tips to Make Using Tech Easy</div>
                            <div class="item">Classroom Support for Common IT issues</div>
                            <div class="item">Online Safety Plan</div>
                            <div class="item">Global Community Support Forum</div>
                            <div class="item">Training resources for staff and parents</div>
                            <div class="item">Personalised dashboard for all staff</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="/images/im_children.png" alt="">
                    </div>
                </div>
            </section>

            <section class="pricing-block">
                <div class="title">Pricing</div>
                <h3 class="section-title">Choose the relevant option below</h3>

                <ul class="list-unstyled price-list">
                    <li ng-repeat="item in vm.landingCountries">
                        <span class="price-btn"
                              ng-class="{active: item.countryName === vm.activeCountry.countryName}"
                              ng-click="vm.setActiveCountry(item)">{{item.countryName}}</span>
                    </li>
                </ul>
                <div class="price-content" ng-show="vm.activeCountry">
                    <div class="price-item">
                        <div class="title">Small School</div>
                        <div class="descr">(up to 8 teacher accounts)</div>
                        <div class="price">{{ vm.activeCountry.prices[0] }}</div>
                    </div>
                    <div class="price-item">
                        <div class="title">Medium School</div>
                        <div class="descr">(9 - 16 teacher accounts)</div>
                        <div class="price">{{ vm.activeCountry.prices[1] }}</div>
                    </div>
                    <div class="price-item">
                        <div class="title">Large School</div>
                        <div class="descr">(unlimited teacher accounts)</div>
                        <div class="price">{{ vm.activeCountry.prices[2] }}</div>
                    </div>
                </div>
            </section>

            <section class="faq-block" id="faq">
                <h2 class="blocks-title">FAQs</h2>

                <h3 class="section-title">Does Educ8 cover curriculum requirements?</h3>
                <p>
                    <strong>England:</strong>
                    <br>
                    Your staff will cover the computing curriculum requirements in a clear, easy-to-follow way that is
                    not possible with any other resource. All DfE targets have been set in a progressive table across
                    the year groups, all targets are supported by step by step lesson plans, supporting videos,
                    presentations and differentiation tools. Our assessment tool makes progress within the curriculum
                    easy to monitor. See here for more details on Educ8 and Ofsted. See below for how the plan is tailor
                    made for your technology, as well as the skills and confidence of your staff and students. There is
                    also a comprehensive Online Safety plan included (see below).
                </p>

                <p>
                    <strong>Ireland:</strong>
                    <br>
                    The Department of Education wants all schools in Ireland to develop an e-learning plan to embed ICT
                    across teaching and learning; as detailed in the Digital Strategy for Schools and the recent ICT
                    infrastructure grant. There is no other resource available that can provide this for you in the way
                    we can; not only do we provide it but we go above and beyond the requirements in an easy-to-follow,
                    practical plan that is designed for teachers by teachers and grows with your school (see below). The
                    plan includes step-by-step lessons plans, with demo videos, presentations, differentiation and
                    assessment tools and opportunities for integration with all other subject areas (see below). Every
                    school's plan is designed for the technology in their school as well as the skills and confidence of
                    their teachers. There is also a comprehensive Online Safety plan included (see below).
                </p>

                <p>
                    <strong>International:</strong>
                    <br>
                    The Educ8 curriculum is all encompassing and will help your young learners grow in three key
                    areas:
                </p>

                <ul class="list-unstyled m-l-lg">
                    <li> - Digital Literacy (digital storytelling, animating, filmmaking, eBooks and much more!)</li>
                    <li> - Programming (coding)</li>
                    <li> - IT (computer skills, online skills, cloud computing, digital citizenship</li>
                </ul>

                <br>
                <h3 class="section-title">Is there an Online Safety Plan program included?</h3>

                <p>
                    Yes, there is a comprehensive Online Safety Plan curriculum to help your students develop awareness
                    and skills
                    for using technology responsibly. The program progresses every year with age appropriate lessons to
                    ensure that your students leave primary school as informed digital citizens.
                </p>

                <br>
                <h3 class="section-title">Our teachers have found previous planning materials difficult to follow, how
                    have you addressed
                    this?</h3>

                <p>Every single lesson plan comes with a demo video to give your staff a visual on what is being
                    described in the lesson plan. We have designed the teacher&rsquo;s dashboard so they can read the
                    plan and play/ pause/ rewind the demo video simultaneously (if they wish!).</p>

                <p>All plans also come with presentations for teaching as well as a teacher&rsquo;s notes option.
                    Teachers can write notes specific to their class/ individual in their class here. During the lessons
                    the students will have access to a student dashboard to help them support their own learning. The
                    student dashboard gives the students access to the presentation that the teacher has just used (so
                    they can scroll back to a specific slide), demo videos to help remind them of the skill just
                    modelled by the teacher and of course the teacher notes.</p>

                <br>
                <h3 class="section-title">How is it aimed at the skills and confidence of our staff and students?</h3>

                <p>We understand that students in upper primary school don&rsquo;t have the same skills that the
                    students in lower primary will have when they reach upper primary. We also understand that your
                    teachers are at an entry level when it comes to many of the skills involved in teaching with
                    technology. The school plan is based on a six year development strategy that has been designed to
                    ensure all staff and students start at an appropriate difficulty level; every year as their skills
                    and confidence grow, so too does the plan.</p>

                <br>
                <h3 class="section-title">How is the plan tailor made for our school?</h3>

                <p>The first thing the website does when you start building your plan is find out what technology you
                    have available in your school. We use this knowledge to build you a recommended plan based on apps
                    and programs that are a proven success in other schools.</p>

                <p>It doesn&rsquo;t stop there though. You can then choose to edit the plan, review other available
                    options and swap them around depending on the specific wants/ needs of your staff and students. We
                    have created different levels of learning too to ensure that your students are challenged at the
                    appropriate level depending on their skills development to date.</p>

                <br>
                <h3 class="section-title">How many lessons are there to choose from?</h3>

                <p>To remove the stress of searching for the best apps and programs to deliver your curriculum we will
                    build your plan based on apps and programs that are proven to succeed in other schools. However, if
                    you choose to delve a little further and see what other apps and programs are working in other
                    schools you will find over 300 lesson plans to choose from. And that list is growing every day!</p>

                <br>
                <h3 class="section-title">Are there any other services available apart from (the above)?</h3>

                <p>We can register our subscribers for Google Apps (G Suite) or Office 365 if they need this.</p>
                <p>We offer a website building service for our subscribers.</p>
                <p>We have a secure offsite backup facility for protecting the vital data at your school.</p>

                <br>
                <h3 class="section-title">Is there a way of communicating with like minded educators with
                    Educ8.world?</h3>

                <p>We have a Community Forum for our subscribers giving them access to joining/ starting threads with
                    other educators around the world. Of course this is unlike any other forum because all contributors
                    will be Educ8 subscribers, so all threads will be relevant to your school&rsquo;s development.</p>

                <br>
                <h3 class="section-title">Can you help with training for staff/ parents/ school community?</h3>

                <p>We have a training resources section on the website that provides materials to deliver your own staff
                    training/ parents evenings. We also have an ever-growing list of local consultants that we are happy
                    to recommend.</p>

                <br>
                <h3 class="section-title">How did you choose the apps and programs used in the plans?</h3>

                <p>The apps and programs have all been tried and tested in classrooms. We have tested a vast amount more
                    than the ones you will see in the plans in order to provide you with a focussed group of top
                    recommended resources. </p>
            </section>
        </div>
    </div>

    <footer class="page-footer gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="subtitle pull-right">Teaching, Plain and Simple</div>
                            <a ui-sref="landing" class="title">EDUC8.WORLD</a>

                            <div class="footer-nav">
                                <div class="item">
                                    <a ui-sref="signup.base">Build my Free Plan in One Minute</a>
                                </div>
                                <div class="col-md-2 item">
                                    <span ng-click="vm.scrollToSection('faq')">FAQ's</span>
                                </div>
                                <div class="col-md-2 item">
                                    <span ng-click="vm.scrollToSection('edtech')">Edtech Tips</span>
                                </div>
                                <div class="item">
                                    <span ng-click="vm.openLoginModal()">Sign In</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- script for g+ like btn -->
                    <script src="https://apis.google.com/js/platform.js" async defer>
                        {
                            lang: 'en'
                        }
                    </script>

                    <!-- script for fb like btn -->
                    <div id="fb-root"></div>
                    <script>(function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>

                    <!-- script for twitter like btn -->
                    <script>window.twttr = (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0],
                            t = window.twttr || {};
                        if (d.getElementById(id)) return t;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "https://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);

                        t._e = [];
                        t.ready = function (f) {
                            t._e.push(f);
                        };

                        return t;
                    }(document, "script", "twitter-wjs"));</script>

                    <div class="fb-btn-wr">
                        <div class="fb-like"
                             data-href="{{vm.constants.SERVER_URL}}"
                             data-layout="button"
                             data-action="like"
                             data-show-faces="true"
                             data-share="false"></div>
                    </div>

                    <div>
                        <a class="twitter-share-button"
                           href="https://twitter.com/intent/tweet">
                            Tweet</a>

                        <div class="g-plusone" data-size="medium"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>