<div class="table-holder m-b-xl assessments-table">
    <table class="footable table table-bordered" data-paging-size="40" data-page-size="40">
        <thead>
            <tr>
                <td></td>
                <td ng-repeat="type in constants.COURSE_TYPE" class="assessment-type-{{type.type}}"
                    colspan="{{activeTemplate.assessmentsByBlocks[$index].assessments.length}}">
                    {{type.name}}
                </td>
            </tr>

            <tr>
                <th>Student</th>

                <th class="rotate-wr selected-school-course class-criteria assessment-type-1"
                    ng-repeat="assessment in activeTemplate.assessmentsByBlocks[0].assessments">

                    <div class="rotate">{{assessment.title}}</div>
                </th>

                <th class="rotate-wr selected-school-course class-criteria assessment-type-2"
                    ng-repeat="assessment in activeTemplate.assessmentsByBlocks[1].assessments">
                    <div class="rotate">{{assessment.title}}</div>
                </th>

                <th class="rotate-wr selected-school-course class-criteria assessment-type-3"
                    ng-repeat="assessment in activeTemplate.assessmentsByBlocks[2].assessments">
                    <div class="rotate">{{assessment.title}}</div>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="student in classData.students">
                <td class="assessments-table-td-student">
                    <span>{{student.firstName}} {{student.lastName}}</span>
                </td>

                <td ng-class="'background-' + student.formatAssessments[student.id + '_' +assessment.id].data.color"
                    ng-repeat="assessment in activeTemplate.assessmentsByBlocks[0].assessments">
                </td>

                <td ng-class="'background-' + student.formatAssessments[student.id + '_' +assessment.id].data.color"
                    ng-repeat="assessment in activeTemplate.assessmentsByBlocks[1].assessments">
                </td>

                <td ng-class="'background-' + student.formatAssessments[student.id + '_' +assessment.id].data.color"
                    ng-repeat="assessment in activeTemplate.assessmentsByBlocks[2].assessments">
                </td>
            </tr>
        </tbody>
    </table>
</div>