<div class="signUpColumns animated fadeInDown">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-title text-center">
                <em class="notation">View other options</em>
            </div>
            <div class="ibox-content">
                <table ng-if="vm.courses.list" class="table main-table alt">
                    <tbody>
                    <tr ng-repeat="course in vm.courses.list track by $index">
                        <td>
                            <a ng-click="openDialog(course)" ng-bind="course.name"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>