<div class="signUpColumns animated fadeInDown">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-title text-center">
                <em class="notation">Here are other options that you can use for this curriculum area.</em>
            </div>
            <div class="ibox-content">
                <table ng-if="vm.courses.list" class="table main-table alt">
                    <tbody>
                        <tr ng-repeat="course in vm.courses.list track by $index">
                            <td>
                                <a ui-sref="signup.lessons({id: course.id})" ng-bind="course.name"></a>
                            </td>
                            <td ng-if="$root.planToSave" class="text-right">
                                <i class="fa fa-exchange" ng-click="vm.changeCourse(course)" aria-hidden="true"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>