nav {
  position: absolute;
  width: 10%;
  left: 0;
  top: 0;
  bottom: 0;
  background: #282828;

  ul {
    list-style: none;
    padding: 40px 0 0 0;
    margin: 0;

    li {
      margin-bottom: 15px;

      a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: 5px 20px;
        color: #fff;

        &:hover,
        &.active {
          background: #00abff;
        }
      }
    }
  }
}

.logout {
  position: absolute;
  right: 40px;
  top: 20px;
  cursor: pointer;
  z-index: 100;
}


.ng2-smart-table {
  color: #fff !important;
}
