<div class="signUpColumns animated fadeInDown">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-title text-center">
                <h1 class="m-b">Subscription Details</h1>
                <button type="button" ng-click="main.logOut()" class="btn btn-sticky btn-primary m-b">
                    <i class="fa fa-sign-out"></i>
                </button>
                <a ng-click="vm.goToPreview()" class="btn btn-sticky left btn-primary m-b">Back to preview</a>
            </div>
            <div class="ibox-content">
                <form class="sm-t" ng-validate="vm.paymentValidator" name="paymentForm" ng-submit="vm.submitPayment(paymentForm)">

                    <div class="form-group m-b-lg">
                        <h3 class="m-b-lg">
                            School size
                            <i class="ask-box fa fa-question-circle">
                                <span class="note-box">Please select the number of teachers in your school.</span>
                            </i>
                        </h3>
                        <ul class="inline-list">
                            <li ng-repeat="schoolSize in vm.school track by $index">
                                <label class="main-radio" ng-class="{checked: vm.settings.schoolSize === schoolSize.value}">
                                    <input type="radio"
                                           name="schoolSize"
                                           ng-model="vm.settings.schoolSize"
                                           ng-change="vm.changeSchoolSize(schoolSize.value)"
                                           ng-value="schoolSize.value"
                                           required>
                                    <span ng-bind="schoolSize.text"></span>
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="form-group m-b-lg">
                        <h3 class="m-b-lg">
                            Country
                            <i class="ask-box fa fa-question-circle">
                                <span class="note-box">Please select country.</span>
                            </i>
                        </h3>
                        <ul class="inline-list">
                            <li ng-repeat="setting in vm.countrySettings track by $index">
                                <label class="main-radio" ng-class="{checked: vm.settings.countrySetting === setting.id}">
                                    <input type="radio"
                                           name="countrySetting"
                                           ng-model="vm.settings.countrySetting"
                                           ng-change="vm.changeCountrySetting(setting.id)"
                                           ng-value="setting.id"
                                           required>
                                    <span ng-bind="setting.countryName"></span>
                                </label>
                            </li>
                        </ul>
                    </div>



                    <ng-include src="'js/components/signup/price/terms.html'"/></ng-include>

                    <div class="form-group m-b-lg row" ng-show="vm.price.term === vm.appConstants.SUBSCRIPTION_TYPE.FULL">
                        <div class="clearfix p-w-sm">
                            <label for="card_number" class="visible">Your bussines card</label>
                        </div>
                        <div class="clearfix">
                            <div class="col-md-6 media-m-b">
                                <input type="text"
                                       id="card_number"
                                       name="cardNumber"
                                       class="form-control radius cc-number"
                                       placeholder="Card number"
                                       ng-model="vm.price.cardNumber"
                                       ng-change="vm.changeVal(vm.price.cardNumber, 'cc-number')">

                                <label ng-if="vm.cardBox.number" class="error block">Card number is not valid</label>
                                <label ng-if="vm.cardBox.numberShort" class="error block">This field is too short</label>
                            </div>
                            <div class="col-md-3 media-m-b">
                                <input type="text"
                                       name="expDate"
                                       class="form-control radius cc-exp"
                                       placeholder="MM/YY"
                                       ng-model="vm.price.expDate"
                                       ng-change="vm.changeVal(vm.price.expDate, 'cc-exp')">

                                <label ng-if="vm.cardBox.expDate" class="error block">Expiration date is not valid</label>
                                <label ng-if="vm.cardBox.expDateShort" class="error block">This field is too short</label>
                            </div>
                            <div class="col-md-3 media-m-b">
                                <input type="text"
                                       name="CVC"
                                       class="form-control radius cc-cvc"
                                       placeholder="CVC"
                                       ng-model="vm.price.cvc"
                                       ng-change="vm.changeVal(vm.price.cvc, 'cc-cvc')">

                                <label ng-if="vm.cardBox.cvc" class="error block">CVC is not valid</label>
                                <label ng-if="vm.cardBox.cvcShort" class="error block">This field is too short</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group m-b-lg row" ng-if="vm.price.term === vm.appConstants.SUBSCRIPTION_TYPE.FULL">
                        <div class="clearfix p-w-sm">
                            <label for="promocode" class="visible">Promocode</label>
                        </div>

                        <div ng-if="!vm.promoApproved">
                            <div class="col-md-9">
                                <input type="text"
                                       id="promocode"
                                       name="discount"
                                       class="form-control radius"
                                       placeholder="Promo code"
                                       ng-model="vm.price.discount">
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-primary block full-width"
                                        ng-disabled="!vm.price.discount.length"
                                        ng-click="vm.checkPromocode()">
                                    Use
                                </button>
                            </div>
                        </div>
                        <div ng-if="vm.promoApproved">
                            <div class="col-md-9">
                                <input type="text" class="form-control radius" disabled placeholder="Thanks, your promocode is valid">
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-primary block full-width" disabled>Approved</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <label class="main-checkbox alt inline" ng-class="{checked: vm.price.conditions}">
                            <input type="checkbox"
                                   name="terms"
                                   ng-change="vm.price.conditions = !!vm.price.conditions"
                                   ng-model="vm.price.conditions"
                                   required>
                            <span class="text">Accept Terms and Conditions</span>
                        </label>
                        <label ng-if="vm.submitted && !vm.price.conditions" class="error block">Agree to the terms</label>
                    </div>
                    <div class="clearfix">
                        <button ng-disabled="!paymentForm.$valid"
                                type="submit" class="btn btn-primary m-b btn-middle-size pull-right">Pay
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
