<div class="clearfix m-b-lg">
    <ul class="inline-list flex around price-check">
        <li ng-repeat="term in vm.terms track by $index">
            <label class="main-radio info text-center" ng-class="{checked: vm.price.term === term.type}">
                <input type="radio"
                       name="classes"
                       ng-model="vm.price.term"
                       ng-change="vm.price.term = term.type"
                       ng-value="term.type">
                <div class="term-box">
                    <h3 ng-bind="term.title"></h3>
                    <em class="slogan" ng-bind="term.desc"></em>
                    <strong class="price">
                        {{(vm.currency | currencyFlag) + '' + term.price}}
                    </strong>

                    <span class="price-old" ng-if="term.type === vm.appConstants.SUBSCRIPTION_TYPE.FULL && vm.promoPercent">
                        {{(vm.currency | currencyFlag) + '' + term.priceOld}}
                    </span>

                    <small ng-if="term.per" class="descr" ng-bind="term.per"></small>
                </div>
            </label>
            <ul class="info-list text-center">
                <li ng-repeat="item in term.itemList track by $index" ng-bind="item"></li>
            </ul>
        </li>
    </ul>
    <div class="text-center m-t-sm">
        <label ng-if="vm.submitted && !vm.price.term" class="error">Choose a plan</label>
    </div>

</div>