<div class="inmodal">
    <div class="col-md-12">
        <div class="inbox-title">
            <h1>Complete class</h1>
        </div>

        <p class="text-center">
            Attention!
            <br>
            <br>
            Selecting this option will send this document to the archives where it can no longer be edited.
            <br>
            <br>
        </p>

    </div>
    <div class="col-md-12">
        <button ng-click="vm.closeDialog()" class="btn btn-primary m-b-md full-width">
            Bring me back to my dashboard, I'm still teaching this class.
        </button>
        <button ng-click="vm.completeClass()" class="btn btn-white full-width">
            I am finished teaching this class, please send this assessment document to the archives
        </button>
    </div>
</div>