<div class="wrapper wrapper-content animated fadeInRight">
    <div ng-if="vm.class" class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>{{pageTitle}} {{vm.class.name}}</h2>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div ng-if="vm.class">
                            <div class="row">
                                <div class="col-md-12 table" ng-if="vm.class">
                                    <h3 class="inline">Courses:</h3>
                                    <a type="button" class="btn selected-school-course select-class-course-btn"
                                       ui-sref="index.schoolPlan.lessons({ id: courseData.course.id })"
                                       ng-repeat="courseData in vm.class.courses">
                                        {{courseData.course.name|truncate:15}}
                                    </a>
                                </div>
                            </div>
                            <div ng-if="vm.class" class="row">
                                <div class="col-md-12">
                                    <table class="course-details table-fixed table table-bordered">
                                        <tbody>
                                        <tr class="thead">
                                            <td rowspan="2">
                                                <strong>COURSE DETAILS</strong>
                                            </td>
                                            <td>Teacher name</td>
                                            <td>Class/Year</td>
                                            <td>CS - Course Name and Level</td>
                                            <td>DL - Course Name and Level</td>
                                            <td>IT - Course Name and Level</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span ng-bind="vm.class.classesDetails.teacherName"></span>
                                            </td>
                                            <td>
                                                <span ng-bind="vm.class.classesDetails.classYear"></span>
                                            </td>
                                            <td>
                                                <span ng-bind="vm.class.classesDetails.cs"></span>
                                            </td>
                                            <td>
                                                <span ng-bind="vm.class.classesDetails.dl"></span>
                                            </td>
                                            <td>
                                                <span ng-bind="vm.class.classesDetails.it"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-if="vm.class" class="col-sm-6">
                                    <assessments-detail-info></assessments-detail-info>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <assessment-document
                                            ng-if="vm.class"
                                            assessment-document-active-tpl="vm.activeTemplate"
                                            assessment-document-class="vm.class"
                                            assessment-document-create-student="vm.createStudentModal()"
                                            assessment-document-create-assessment="vm.createAssessmentModal(data, type)"
                                            assessment-document-edit-assessment="vm.editAssessmentModal(data, assessment)"
                                            assessment-document-change-assessment="vm.onAssessmentChange(data)"
                                            assessment-document-remove-assessment="vm.removeAssessment(data)"
                                    >
                                    </assessment-document>
                                </div>
                            </div>


                            <a ng-href="{{vm.downloadAssessmentUrl}}" class="btn btn-primary" target="_blank">Download assessment document</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>