<p>We have been busy sourcing and testing the best free resources for primary school over the last number of years
    - and now here they are together for the first time!</p>
<p>They have been integrated seamlessly into your plans along with follow-up ideas, ensuring that even teachers
    with the busiest schedules can focus on the development of their students as informed, responsible digital
    citizens. There are so many fantastic resources available that we didn't want to limit you, so we have included
    plenty of follow-up activities and suggestions with the lesson plans; allowing teachers to go deeper into
    specific learning areas if they wish.</p>
<p>Students will cover key learning areas every half term at an age appropriate level - browse the grid below for a
    quick overview.</p>
<p>Click on a year group to view lesson plans with resources and presentation.</p>

<small class="italic">
    *See <a ui-sref="home.additionalResources.base">Additional Resources</a> for staff training and parents evening presentations.
</small>

<br>

<div class="esafety-img-wr">
    <img src="/images/static/Online_safety_grid.png" alt="">

    <a ui-sref="home.eSafety.earlyPrimary" class="to-early">Early Primary</a>
    <a ui-sref="home.eSafety.primary.base({id: 1})" class="to-primary1">Primary 1</a>
    <a ui-sref="home.eSafety.primary.base({id: 2})" class="to-primary2">Primary 2</a>
    <a ui-sref="home.eSafety.primary.base({id: 3})" class="to-primary3">Primary 3</a>
    <a ui-sref="home.eSafety.primary.base({id: 4})" class="to-primary4">Primary 4</a>
    <a ui-sref="home.eSafety.primary.base({id: 5})" class="to-primary5">Primary 5</a>
    <a ui-sref="home.eSafety.primary.base({id: 6})" class="to-primary6">Primary 6</a>

</div>