<div class="signUpColumns planColumn animated fadeInDown">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-title">
                <h1 class="m-b-xl text-center">Finalise Your Plan</h1>

                <div class="notation">
                    <p>Let's get this plan ready to go!</p>
                    <p>
                        We finalise the plans for subscribers to keep everything clear and focused for teachers. Editing
                        your plan at this stage is part of your subscription. Any later changes will incur an additional
                        admin charge. Please take as much time as you need to finalise your plan. You can logout and come
                        back to it another time if you wish.
                    </p>
                    <p>
                        As this is a planning/ consultancy tool you will need to install any programs and apps suggested
                        separately; many are free, some will need to be paid for. You will also need to register for G Suite
                        (Google Apps) or Office 365 to create user accounts for staff and students if you are using these;
                        we can help with registration as part of our 'Other Services'.
                    </p>
                    <p>
                        Please consider all of the above before finalising your plan. Then get ready for outstanding
                        teaching and learning with technology!
                    </p>
                </div>

                <button type="button" ng-click="main.logOut()" class="btn btn-sticky btn-primary m-b">
                    <i class="fa fa-sign-out"></i>
                </button>
            </div>
            <div class="ibox-content">
                <div class="table-holder m-b-xl">
                    <plan plan-data="planToSave"></plan>
                </div>
                <div class="clearfix">
                    <button ng-click="vm.openConfirmModal()" type="button"
                            class="btn btn-primary m-b btn-middle-size pull-right">
                        View Dashboard / Finalise Plan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>