<div class="inmodal">
    <div class="col-md-12">
        <div class="inbox-title">
            <h1 class="text-center">Attention</h1>
        </div>

        <p>
            You cannot make any more changes to your plan after it has been finalised. Please ensure that you have
            reviewed all courses and are happy with the plan's content before proceeding.
        </p>

        <p>
            If you are happy with the plan then please keep going to your new dashboard and get ready for some exciting
            teaching and learning - welcome to Educ8!
        </p>
    </div>
    <div class="col-md-12 text-right">
        <button ng-click="vm.saveSchoolPlan()" class="btn btn-primary">
            I don't need to make any more changes, bring me to my final plan
        </button>
        <button ng-click="vm.closeModal()" class="btn btn-white">Go back to editable plan</button>
    </div>
</div>