<a ng-href="{{vm.onlineSafetyUrl}}" target="_blank" class="esafety-downlaod">Download as .pdf</a>

<div class="clearfix">
    <button ng-click="vm.prevPage()" class="pull-left">&lt;</button>
    <button ng-click="vm.nextPage()" class="pull-right">&gt;</button>
    <div class="text-center">
        {{vm.currentPage}}/{{vm.totalPages}}
    </div>
</div>

<pdfviewer ng-src="{{vm.onlineSafetyUrl}}" scale="1.0" on-page-load='vm.pageLoaded(page,total)' id="viewer"></pdfviewer>

<div class="text-center">
    <button ng-click="vm.prevPage()">&lt;</button>
    <button ng-click="vm.nextPage()">&gt;</button>
    <br>
    <span>{{vm.currentPage}}/{{vm.totalPages}}</span>
    <br>
</div>