<div class="inmodal">
    <div class="col-md-12">
        <div class="inbox-title">
            <h1>Discard subscription</h1>
        </div>

        <p class="text-center">
            Attention!
            <br>
            <br>
            Selecting this option will discard your subscription. Your account will be in limited access mode.
            <br>
            <br>
        </p>

    </div>
    <div class="col-md-12">
        <button ng-click="cancel()" class="btn btn-primary m-b-md full-width">
            No, go back to my settings.
        </button>
        <button ng-click="confirm()" class="btn btn-white full-width">
           Yes, I want to discard my subscription.
        </button>
    </div>
</div>