<div>
    <table class="table content-table text-center table-bordered classes-table">
        <thead>
            <tr class="text-center gray-bg">
                <th>Course</th>
                <th colspan="{{courses[0].course.lessonsToCourses.length}}">Lessons</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in courses">
                <td>
                    {{row.course.name}}
                </td>
                <td ng-repeat="cell in row.course.lessonsToCourses">
                    <a ui-sref="index.studentClasses.lesson.base({
                        courseId: row.course.id,
                        id: cell.lesson.id
                    })">
                        {{cell.lesson.name}}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
