<div class="row wrapper border-bottom white-bg page-heading col-md-12">
    <div class="ibox-content">
        <div class="form-group">
            <input
                    class="form-control"
                    type="text"
                    placeholder="Search"
                    ng-model="pagination.q"
                    ng-model-options="{ debounce: 500 }"
                    ng-change="search()"
            >
        </div>
        <table class="footable table" data-paging-size="40" data-page-size="40">
            <thead>
            <tr>
                <th>Name</th>
                <th>Completed courses</th>
                <th>Assessments documents</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="class in list">
                <td><span ng-bind="class.name"></span></td>
                <td>
                    <a class="btn select-class-course-btn btn-default"
                       ng-repeat="courseData in class.coursesToClasses"
                       ui-sref="index.schoolPlan.lessons({id: courseData.course.id})"
                    >
                        {{courseData.course.name | truncate:15}}</a>
                </td>
                <td>
                    <a target="_blank"
                       ng-repeat="document in class.classAssessmentHistory"
                       class="fa select-class-course-btn cursor-pointed fa-file-pdf-o"
                       ng-href="{{document.downloadUrl}}"
                    ></a>
                </td>

                <td ng-if="!userProfile.class">
                    <a ui-sref="index.classModifyCompleted({id: class.id})">
                        <i class="fa fa-plus pull-right" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>

        <ng-include src="'views/common/pagination.html'"/></ng-include>
    </div>
</div>