<table class="table table-striped table-bordered table-hover dataTable" >
    <thead>
    <tr>
        <th>#</th>
        <th data-field="fullname">Name</th>
        <th data-field="fullname">Created</th>
        <th data-field="fullname">Completed</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in vm.items">
        <td>{{ filters.offset + $index + 1 }}</td>
        <td>
            {{ item.name }}
        </td>
        <td>
            {{item.createdAt | formatDate}}
        </td>
        <td>
            {{item.updatedAt | formatDate}}
        </td>
        <td>
            <a target="_blank"
               ng-repeat="document in item.classAssessmentHistory"
               class="fa select-class-course-btn cursor-pointed fa-file-pdf-o"
               ng-href="{{document.downloadUrl}}"
            ></a>
        </td>
    </tr>
    </tbody>
</table>

<div ng-if="!vm.items.length" class="empty-message">
    Your teachers have not completed any classes yet
</div>