<!-- Pagination -->
    <div class="row text-center" ng-show="pagination.pages > 1">
    <ul class="pagination">
        <li class="start paginate_button previous" ng-class="{'disabled': pagination.page == 0}">
            <a ng-class="{'disabled': pagination.page == 0}"
               ng-disabled="pagination.page < 1"
               ng-click="(pagination.page < 1) || getContent({page: 0})">
                <i class="fa fa-backward"></i>
            </a>
        </li>

        <li class="prev paginate_button previous" ng-class="{'disabled': pagination.page == 0}"
            ng-disabled="pagination.page == 0">
            <a ng-class="{'disabled': pagination.page == 0}"
               ng-disabled="pagination.page < 1"
               ng-click="(pagination.page < 1) || getContent({page: pagination.page - 1})">
                <i class="fa fa-caret-left"></i>
            </a>
        </li>
        <li class="paginate_button active" ng-class="{ 'active': pagination.pages -1 == $index }">
            <span>{{ pagination.page + 1 }} of {{ pagination.pages }} pages</span>
        </li>
        <li class="next paginate_button next" ng-class="{'disabled': pagination.page == pagination.pages - 1}">
            <a ng-class="{'disabled': pagination.page == pagination.pages - 1}"
               ng-click="(pagination.pages !== pagination.page + 1) && getContent({page: pagination.page + 1})">
                <i class="fa fa-angle-right"></i>
            </a>
        </li>

        <li class="end paginate_button next" ng-class="{'disabled': pagination.page == pagination.pages - 1}">

            <a ng-class="{'disabled': pagination.page == pagination.pages}"
               ng-click="(pagination.page != pagination.pages - 1 ) && getContent({page: pagination.pages - 1})">
                <i class="fa fa-forward"></i>
            </a>
        </li>
    </ul>
</div>


<!-- /Pagination -->