<div class="signUpColumns planColumn animated fadeInDown">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-title text-center">
                <h1 class="m-b-xl">Your Suggested Plan</h1>
                <em class="notation">
                    We have designed this plan for you based on your available technology and what has been proven to
                    succeed in other schools. Please click on any course to find out more about it and see other
                    available (proven-to-succeed) options.
                </em>
                <button type="button" ng-click="main.logOut()" class="btn btn-sticky btn-primary m-b">
                    <i class="fa fa-sign-out"></i>
                </button>
            </div>
            <div class="ibox-content">
                <div class="table-holder m-b-xl">
                    <plan
                            plan-data="vm.preview.plans"
                            plan-next-step="vm.goToPrice()"
                    ></plan>
                </div>
                <div class="clearfix">
                    <button type="button" ng-click="vm.goToPrice()"
                            class="btn btn-primary m-b btn-middle-size pull-right">Next
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>