.main-form{
    position: relative;
}
.main-form .form-control.medium{
    height: 50px;
}
.main-form .form-group.alt{
    margin: 0 0 -1px;
}
.main-form .form-group.alt .form-control:focus{
    z-index: 10;
}
.main-form .textarea{
    height: 250px;
    resize: none;
}
.text-upper{
    text-transform: uppercase;
}
/*main theme of dialog box styles start*/
.main-theme .ngdialog-content{
    width: auto !important;
    max-width: 600px !important;

}
.main-theme .ibox-title{
    border: 0;
    border-bottom: 1px solid #e7eaec !important;
    padding: 0 13px 10px;
    margin: 0 -13px 15px;
    min-height: 1%;
}
.main-theme .ibox-title h2{
    margin: 0;
    line-height: 1.5;
    max-width: 90%;
}
.white-theme .ngdialog-content{
    background: #fff !important;
}
.main-theme .table-holder{
    max-height: 272px;
    overflow: auto;
}
.main-theme .table-holder .cell-small{
    width: 10%;
}
/*main theme of dialog box styles end*/
.announcement .info-list ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.announcement .info-list li{
    float: left;
    margin: 0 5px 5px 0;
    padding: 5px 8px;
    color: #fff;
    background: #293846;
}
.announcement .info-list .remove{
    cursor: pointer;
}
.announcement .info-list .name{
    font-style: normal;
    margin-right: 5px;
    cursor: pointer;
}
.announcement .note{
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
    color: red;
    font-style: normal;
}