/*======Rewrite styles ========*/
.white-bg,
.white-bg .ibox-title,
.white-bg .ibox-content {
    color: #727272;
}

.white-bg .btn-primary {
    background-color: #A7A7A7;
    border-color: #A7A7A7;
    color: #FFFFFF;
}
.white-bg .btn-primary:hover,
.white-bg .btn-primary:focus,
.white-bg .btn-primary:active,
.white-bg .btn-primary.active,
.white-bg .open .dropdown-toggle.btn-primary,
.white-bg .btn-primary:active:focus,
.white-bg .btn-primary:active:hover,
.white-bg .btn-primary.active:hover,
.white-bg .btn-primary.active:focus {
    background-color: #7a7174;
    border-color: #a29fa7;
    color: #FFFFFF;
}

.white-bg .btn-primary.disabled,
.white-bg .btn-primary.disabled:hover,
.white-bg .btn-primary.disabled:focus,
.white-bg .btn-primary.disabled:active,
.white-bg .btn-primary.disabled.active,
.white-bg .btn-primary[disabled],
.white-bg .btn-primary[disabled]:hover,
.white-bg .btn-primary[disabled]:focus,
.white-bg .btn-primary[disabled]:active,
.white-bg .btn-primary.active[disabled],
.white-bg fieldset[disabled] .btn-primary,
.white-bg fieldset[disabled] .btn-primary:hover,
.white-bg fieldset[disabled] .btn-primary:focus,
.white-bg fieldset[disabled] .btn-primary:active,
.white-bg fieldset[disabled] .btn-primary.active {
    background-color: #a7a7a7;
    border-color: #a7a7a7;
}

.white-bg .nav-header {
    background: #A7A7A7;
    border-bottom: 3px solid #7a7174;
}

.white-bg .note-box {
    background: #A7A7A7;
    color: #fff;
}

.white-bg .table a {
    color: #727272;
}


.white-bg #side-menu.nav > li a.active {
    background: #A7A7A7;
    border-left: 4px solid #7a7174;
    color: #fff;
}

.white-bg #side-menu.nav > li a:hover {
    background: #A7A7A7;
}

.white-bg .primary-bg {
    background: #A7A7A7;
}

.user-name-nav-box{
    position: absolute;
    width: 100%;
    color: #fff;
    font-size: 20px;
    padding-bottom: 5px;
    bottom: 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
}

.change-avatar{
    position: absolute!important;
    top: 0px;
    width: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
}

.change-avatar:hover {
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
}

.nav-header img.top-avatar{
    max-width: 70px;
}

.cg-notify-message.pos-left {
    left: 10px;
}

.cg-notify-message.pos-center {
    left: 50%;
    transform: translateX(-50%);
}

.cg-notify-message.pos-right {
    left: auto;
    right: 10px;
}


.nav-tabs.nav-custom > li > a.active {
    border-color: #eee;
    border-bottom: none;
}

.topnav-title {
    margin: 13px 0 0;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;
}

.empty-message {
    text-align: center;
    font-size: 20px;
}


.esafety-downlaod {
    float: right;
    margin: -70px 0 0;
}


/*======Rewrite styles ========*/

.pointer {
    cursor: pointer;
}

.comments-list hr {
    margin: 10px 0;
}

.comments-list .comment-content {
    font-size: 14px;
}

#create-package-form {
    display: none;
}

#page-wrapper{
    overflow: hidden;
}

#events-page table img{
    width: 200px;
}

.description-column{
    max-width: 200px;
}

.sub-categories-column{
    width: 200px;
}

.sub-categories-column .form-check-label span{
    position: relative;
    top:-3px;
}

#events-page .btn{
    margin: 15px 0px;
}

.ngdialog.upload-avatar .ngdialog-content {
    background: #f0f0f0;
    border-radius: 5px;
    color: #444;
    font-family: 'Helvetica',sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    padding: 1.7em;
    position: relative;
    width: 300px;
    overflow: hidden;
}

.ngdialog.upload-avatar .ngdialog-close {
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.ngdialog.upload-avatar .ngdialog-close:before {
    background: transparent;
    border-radius: 3px;
    color: #bbb;
    content: '\00D7';
    font-size: 26px;
    font-weight: 400;
    height: 30px;
    line-height: 26px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 3px;
    width: 30px;
}

.ngdialog.upload-avatar {
    padding-bottom: 160px;
    padding-top: 160px;
}

.fa-plus, .fa-exchange{
    cursor: pointer;
}

.white, .white a, .white:hover{
    color: #fff;
}

.form-block-title{
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.platform-list li{
    margin-right: 5px;
}

.platform-list li input{
    top: 2px;
    position: relative;
    margin-right: 5px;
}

.platform-list li label{
    float: left;
}

.platform-list li span{
    margin-left: 5px;
    top: 2px;
    position: relative;
}

.table-fixed {
    table-layout: fixed;
}

.text-gray {

}

.table-sorted th,
.table-sorted td:first-child {
    cursor: pointer;
}

#content-table td {
    padding: 20px 5px;
    vertical-align: middle !important;
}

.table.text-center th {
    text-align: center;
}

.desrc-col {
    width: 10%;
    color: #676a6c;
}
.desrc-col a {
    color: #676a6c;
}

.content-col {
    width: 30%;
}

.table-actions {
    font-size: 20px;
}

.table-actions a {
    margin-right: 10px;
}

.school-students .fa-close{
    cursor: pointer;
    color: red;
}

body.gray-bg {
    background-color: #2f4050;
}

.select-class-course-btn{
    margin-left: 10px;
}

.select-class-course-btn.fa-file-pdf-o {
    font-size: 24px;
}

.ngdialog.set-lesson-modal .ngdialog-content {

    background: #f0f0f0;
    border-radius: 5px;
    color: #444;
    font-family: 'Helvetica',sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    padding: 1em;
    position: relative;
    width: 90%;
    overflow: hidden;
}

.ngdialog.set-lesson-modal .ngdialog-close {
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.ngdialog.set-lesson-modal .ngdialog-close:before {
    background: transparent;
    border-radius: 3px;
    color: #bbb;
    content: '\00D7';
    font-size: 26px;
    font-weight: 400;
    height: 30px;
    line-height: 26px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 3px;
    width: 30px;
}

.ngdialog.set-lesson-modal {
    padding-bottom: 160px;
    padding-top: 160px;
}

.selected-school-course{
    border: 1px solid #d2d2d2;
    background: #EFEEEE;
    color: #333;
    position: relative;
}

.selected-school-course .fa-close {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -moz-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    position: absolute;
    top: 0;
    right: 10px;
    color: #DE4747;
    cursor: pointer;
    z-index: 1;
}

.selected-school-course .fa-edit {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 0;
}


.selected-school-course .fa-close:hover{
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -moz-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
}

/*================== signup courses ===================*/
.course-name {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    word-wrap: break-word;
}

.change-course-modal .ngdialog-content {
    width: 40% !important;
    background: #444 !important;
}

.white-bg .change-course-modal .ngdialog-content .notation,
.white-bg .change-course-modal .ngdialog-content a {
    color: #fff !important;
}

.change-course-modal .signUpColumns {
    padding: 0;
    margin: 0 25px;
}

.change-course-modal .signUpColumns .main-table.alt {
    width: 100%;
}

.cursor-pointed{
    cursor: pointer;
}

.assessments-table {
    margin: 0 0 100px;
    overflow-y: hidden;
    padding-bottom: 100px;
}
.assessments-table-td-separator{
    background-color: #f5f5f6;
}

.assessments-table-td-student{
    white-space: normal;
    min-width: 150px;
}

.assessments-table .assessment-type-1 {
    background: #DBEEF3;
}

.assessments-table .assessment-type-2 {
    background: #D9D9D9;
}

.assessments-table .assessment-type-3 {
    background: #FDE9D9;
}

.assessments-table .rotate-wr {
    height: 240px;
    max-width: 120px;
    white-space: normal;
}

.assessments-table .rotate {
    transform: translate(-21px, 101px) rotate(270deg);
    width: 160px;
    height: 50px;
    /*position: absolute;*/
    /*left: 10%;*/
    /*top: 110px;*/
}


.assessment-wr .btn-group {
    width: 100%;
}

.assessment-wr .btn-group .btn {
    width: 33%;
    box-sizing: border-box;
}

.assessment-wr .btn-group .btn:first-child {
    width: 34%;
}

.wrap-dd-select{
    width: 100%;
    border: none;
    box-shadow: none;
    color: rgba(255,255,255,0);
    background: rgba(255,255,255,0);
    padding: 0px;
}

.wrap-dd-select span.selected{
    display: none;
}

.wrap-dd-select:after{
    border-width: 10px 8px 0;
}

.background-red {
    background: #E5B9B7;
}
.background-green {
    background: #C3D69B;
}
.background-yellow {
    background: #FABF8F;
}
.background-purple {
    background: #B2A1C7;
}

.black-text{
    color: #000;
}

/*================== student classes ===================*/
.classes-table thead th {
    padding: 20px 8px !important;
}

.classes-table tbody td {
    padding: 15px 8px !important;
}

.classes-table tbody td:first-child {
    background: #f5f5f6;
}

.teacher-comment {
    max-height: 390px;
    overflow: auto;
}

.signup-confirmation-modal .ngdialog-content {
    width: 40% !important;
}

.course-details {
    vertical-align: middle;
}

.course-details .thead {
    text-align: center;
}

.course-details td {
    vertical-align: middle !important;
    background: #DCD8C4;
}

.course-details .thead td:first-child {
    background: #fff;
}

.complete-class-modal .btn {
    white-space: normal;
}


/*================== lesson detailed ===================*/
.lesson-descr {
    margin: 20px 0 40px;
}

.lesson-nav {
    margin: 0 0 100px;
}

.lesson-nav li {
    width: 25%;
    float: left;
    text-align: center;
}

.homepage .lesson-nav-wr {
    width: 50%;
    margin: 0 auto;
}

.homepage .lesson-nav li {
    width: 50%;
}

.lesson-nav a {
    display: inline-block;
    color: #727272;
}

.lesson-icon {
    display: block;
    width: 135px;
    height: 135px;
    margin-bottom: 15px;
    transition: all 0.3s linear;
}

.lesson-nav .lesson-icon:hover {
    background-size: 100% !important;
}

.lesson-icon.plan-icon {
    background: url('/images/ic_readPlan.png') no-repeat center center;
    background-size: 80%;
}

.lesson-icon.video-icon {
    background: url('/images/ic_watchVideo.png') no-repeat center center;
    background-size: 80%;
}

.lesson-icon.presentation-icon {
    background: url('/images/ic_startPresentation.png') no-repeat center center;
    background-size: 80%;
}

.lesson-icon.lessonvideo-icon {
    background: url('/images/ic_LessonVideo.png') no-repeat center center;
    background-size: 80%;
}

.lesson-icon-wr {
    width: 135px;
    margin: 0 auto 40px;
    text-align: center;
}

.lesson-icon-wr .lesson-icon {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-bottom: 0;
}

.unplugged-activities-content img{
    width: auto!important;
    cursor: pointer;
}

.class-criteria{
    white-space: nowrap;
    font-size: 11px;
    font-weight: normal;
}

.nav-tabs .active{
    background-color: #fff!important;
}

.imgCropper-controls{
    text-align: center;
}

#side-menu .profile-element{
    min-height: 200px;
}

#side-menu .profile-element img{
    max-width: 100%;
}

.ngdialog-content .inline-list.price-check>li{
    width: 80%!important;
}

.home-btn {
    display: block;
    width: 75%;
    margin: 30px auto 0;
}

.sidebar-collapse .home-btn .fa {
    display: none;
}

.mini-navbar .sidebar-collapse .home-btn .fa {
    display: block;
}

.mini-navbar .sidebar-collapse .home-btn .text {
    display: none;
}